@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";

body{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;    
    margin:0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

button {
    background: none;
    margin: 0;
    padding: 0;
    border:0;
    cursor:pointer;
}
button:active{
    outline:0;   
}

a>img {
    border: 0;
}
img{
    max-width:100%;
}