@import "compass/css3";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
a{text-decoration: none;}
a:hover{text-decoration: underline;}
button{background: none;margin: 0;padding: 0;}