$main-color:#cb1e59;

::-webkit-input-placeholder {
 color:#d6d6d6;
}
:-moz-placeholder {
 color:#d6d6d6;
}

.container{
    background: url(images/bg.png) repeat;
}

.page-title-box{
    max-width: 700px;
}
.page-title{
    color: $main-color; 
    font-family: "montserratbold";
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.page-brief{
    font-size: 12px;
    color: rgba(0,0,0,.8);
    line-height: 18px;
    margin-bottom: 40px;
}

.page-map-title{
    .page-title{
        margin-bottom: 5px;
    }
}

.text-right {
    text-align: right;
}

.five-box{
    li{
        color: #333; 
        font-size: 12px;
        cursor: pointer;
        .title-five-box{
            display: block;
            border:solid 1px #ebebeb;
            padding: 10px;
            margin-bottom: 3px;    
            .icon-font-awesome{
                color: #cb1e5a; 
                float: left;
                width: 25px;
                font-size: 16px;
            } 
            strong{
                margin-left: 25px;
                display: block;
                overflow: hidden;
            }       
        }
        .title-FB-hover{
            font-weight: bold;
        }
        .content-five-box{
            display: none;
            font-style: oblique;
            padding: 20px 35px;
            line-height: 24px;
        }
    }
}

.pagination{
    a,span{
        display: inline-block;
        padding: 4px 10px;
        border:solid 1px #ebebeb;
        color: #ebebeb; 
        font-family: "montserratbold";
        font-size: 12px;    
        margin-right: 5px; 
    }
    a{
        cursor: pointer;
        text-decoration: none;
        &:hover{
            border-color: #cb1150;
            color: #cb1150;
        }
    }
    .current{
        border-color: #cb1150;
        color: #cb1150;            
    }
}

.date_picker{
    background: url(images/date.png) no-repeat right ;
    cursor: pointer;
}

.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br{
    border-radius: 0;
}

.ui-widget-content{
    background: #fff; 
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.ui-datepicker{
        width: 18.5em;
        padding: 0;
        font-family: "robotoregular";
    .ui-widget-header {
        background: none;
        border:0 none;
        border-bottom: 1px solid #f0f0f0;
        color: #898d91; 
        padding: 10px;
    }
    .ui-datepicker-prev {
        top: 12px;
        span{
            @include icons-sprite(prev);
        }
    } 
    .ui-datepicker-next {
        top: 12px;
        span{
            @include icons-sprite(next);
        }
    } 
    th{
        color: #4fc3f5; 
        font-size: 9px;
        font-weight: normal;
    }
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
    border:3px solid #fff;
    background: none;
    color: #898d91;
    font-weight: normal;
    text-align: center;
}

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
    border: 3px solid #51c3d3; 
}
.ui-state-active, 
.ui-widget-content .ui-state-active {
    border: 3px solid #51c3d3; 
    background-color: #51c3d3;
    color: #fff;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover,
.ui-state-focus, 
.ui-widget-content .ui-state-focus{
    border-color:#fed22f;
    background: none;
    color: #898d91;
}

 
.ui-widget-header .ui-state-hover, 
.ui-widget-header .ui-state-focus {
    border-color: transparent;
    top:11px;
}