$main-color:#cb1e59;

::-webkit-input-placeholder {
 color:#d6d6d6;
}
:-moz-placeholder {
 color:#d6d6d6;
}

.container{
    background: url(images/bg.png) repeat;
}

.page-title-box{
    max-width: 700px;
}
.page-title{
    color: $main-color; 
    font-family: "montserratbold";
    font-size: 16px;
    margin-bottom: 20px;
}
.page-brief{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: rgba(0,0,0,.8);
    line-height: 18px;
    margin-bottom: 40px;
}

.text-right {
    text-align: right;
}

.five-box{
    li{
        @include opacity(.8); 
        color: #000; 
        font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        cursor: pointer;
        .title-five-box{
            display: block;
            border:solid 1px #ebebeb;
            padding: 10px;
            margin-bottom: 3px;    
            .icon-plus, .icon-minus{
                color: #cb1e5a; 
                margin-right: 10px;
            }        
        }
        .title-FB-hover{
            font-weight: bold;
        }
        .content-five-box{
            display: none;
            font-style: oblique;
            padding: 20px 35px;
            line-height: 24px;
        }
    }
}

.pagination{
    a,span{
        display: inline-block;
        padding: 4px 6px;
        border:solid 1px #ebebeb;
        color: #ebebeb; 
        font-family: "montserratbold";
        font-size: 12px;     
    }
    a{
        cursor: pointer;
        text-decoration: none;
        &:hover{
            border-color: #cb1150;
            color: #cb1150;
        }
    }
    .current{
        border-color: #cb1150;
        color: #cb1150;            
    }
}
