@font-face {
    font-family: 'FontAwesome';
    src: url("font/fontawesome-webfont.eot");
    src: url("font/fontawesome-webfont.eot") format("embedded-opentype"), 
    url("font/fontawesome-webfont.woff") format("woff"), 
    url("font/fontawesome-webfont.ttf") format("truetype"), 
    url("font/fontawesome-webfont.svg") format("svg");
}

@font-face {
    font-family: 'montserratbold';
    src: url('font/montserrat-bold-webfont.eot');
    src: url('font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-bold-webfont.woff') format('woff'),
         url('font/montserrat-bold-webfont.ttf') format('truetype'),
         url('font/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('font/montserrat-regular-webfont.eot');
    src: url('font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-regular-webfont.woff') format('woff'),
         url('font/montserrat-regular-webfont.ttf') format('truetype'),
         url('font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica_lightregular';
    src: url('font/helvetica-light-webfont.eot');
    src: url('font/helvetica-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helvetica-light-webfont.woff') format('woff'),
         url('font/helvetica-light-webfont.ttf') format('truetype'),
         url('font/helvetica-light-webfont.svg#helvetica_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

