input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: normal;
}

select, input[type="text"], input[type="password"],textarea {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Arial';
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    @include box-sizing(border-box);
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    text-overflow: ellipsis;
}

textarea {
    overflow: auto;
    resize: none;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.request,.error {
    color: #d1232a;
    font-size: 10px;
}

.error {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0, 0) scale(0.8333);
}

.form {
    color: #333;
    font-size: 12px;
    input[type="text"], input[type="password"], input[type="date"] {
        height: 40px;
        line-height: 30px;
    }
    textarea {
        height: 183px;
    }
    .request{margin-right: 10px;}
    .contact-tab {
        th {
            vertical-align: top;
            width: 18%;
            padding-top: 10px;
        }
        .input-out-box {
            position: relative;
        }
    }
    .text-input {
        margin-bottom: 21px;
    }
    .error {
        position: absolute;
        bottom: 0;
    }
    .error.pc {
        display: block;
    }
    .error.mobile {
        display: none;
    }
}