input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: normal;
}

select, input[type="text"], input[type="password"],textarea {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Arial';
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    @include box-sizing(border-box);
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    text-overflow: ellipsis;
}

textarea {
    overflow: auto;
    resize: none;
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.request,.error{
    color: #d1232a; 
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.error{
    margin-bottom: 10px;
}

.form{
    color: #333; 
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    input[type="text"], input[type="password"]{
        height: 40px;
        line-height: 40px;
    }
    textarea {
        height: 183px;
    }
    .contact-tab th {
        vertical-align: top;
        width: 18%;
        padding-top: 10px;
    }
}