@import "icons/*.png";

.icon-cart{
    @include icons-sprite(cart);
}

.icon-share{
    display: inline-block;
    width: 24px;
    height: 24px;
}

.icon-facebook{
    @include icons-sprite(facebook);
}

.icon-google{
    @include icons-sprite(google);
}

.icon-twitter{
    @include icons-sprite(twitter);
}

.icon-check{
    @include icons-sprite(check-green);    
}
