/****/
.page-1{
	.header,.footer{
		background-color: #cb1150;
	}	
}

.page-2{
    .header,.footer{
        background-color: #cb1e5a;
    }
}

.page-3{
    .header,.footer{
        background-color: #008b92;
    }
}


.page-4{
    .header,.footer{
        background-color: #c22426;
    }
}