/****/
.page-1{
	.header,.footer{
		background-color: #cb1150;
	}	
}

.page-2{
    .header,.footer{
        background-color: #cb1e5a;
    }
}

.page-3{
    .header,.footer{
        background-color: #008b92;
    }
    .widget-box{
        background-color: #008b91;
        .search-block{
            .search-btn{
                background-color: rgba(0, 139, 146, 0.5);
                color: #008b91;
            }
        }       
    }
    .wgt-side-contact{
        h3, a{
            color: #008b91;
        }
    }
    .wgt-website-note .note-1 h6, .wgt-website-note .note-1 h6 a{
        color:#008b91;
    }
    .page-title{
        color:#008b91;
    }      
}


.page-4{
    .header,.footer{
        background-color: #c22426;
    }
}