/* mobile */

@media screen and (max-width: 960px) {
    .container {
        background: #fff;
    }
    .r-inner {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        min-width: 300px;
    }
    .top {
        display: none;
    }
    header.header {
        height: 60px;
        position: relative;
        z-index: 2;
    }
    .side {
        display: none;
    }
    .verkooppunten .side {
        display: block;
        width: auto;
        float: none;
    }
    .main {
        width: auto;
        float: none;
    }
    .page-title-box {
        margin-top: 20px;
    }
    .form {
        th,td {
            display: block;
            width: 100%;
        }
        .contact-tab {
            th {
                width: 100%;
            }
            .btn-rect-stl1-1 {
                display: block;
                background-color: #cb1150;
                color: #fff;
                margin-bottom: 20px;
            }
        }
    }
    .error {
        -webkit-transform: translate(-20px, 0) scale(0.8333);
    }
    
    /* wgt setting */
    .wgt-logo {
        float: right;
        a {
            width: 63px;
            height: 35px;
        }
    }
    .wgt-menu {
        float: left;
        margin-top: 17px;
        >i {
            display: inline-block;
            color: #fff;
            font-size: 16px;
        }
        ul {
            display: none;
            top: 60px;
            position: absolute;
            left: 0;
            right: 0;
            border: 1px solid #000;
            background-color: #fff;
            border-top: 0;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
            li {
                margin: 0;
                padding: 0;
                float: none;
                text-align: center;
                a {
                    color: #383838;
                    line-height: 34px;
                    padding: 0;
                    &:hover {
                        border: 0;
                    }
                }
            }
        }
        ul.active {
            display: block;
        }
    }
    .wgt-slider {
        height: auto;
        padding-bottom: 50px;
        .slides {
            .img {
                position: static;
                width: 100%;
            }
            li {
                h5 {
                    padding-top: 0;
                }
            }
            blockquote {
                width: auto;
                padding: 23px 0;
            }
        }
        .flex-control-paging li a {
            width: 8px;
            height: 8px;
            margin: 2px;
        }
        .flex-control-nav {
            bottom: 0;
        }
        .btns {
            text-align: center;
        }
    }
    .wgt-concept {
        .item,
        .symbol {
            display: block;
            width: auto;
        }
        .r-inner {
            margin: 0;
        }
    }
    .wgt-product-list-home {
        display: none;
    }
    .wgt-gift-card-search {
        text-align: center;
        .control-label {
            float: none;
            display: block;
            line-height: 1.3;
        }
        .control-group {
            float: none;
            .txt {
                margin: 8px 0 16px;
                width: 100%;
            }
            .btn {
                float: none;
            }
        }
    }
    .wgt-website-note {
        display: none;
        margin-top: 0;
        .note-1 {
            float: none;
            width: auto;
        }
        .note-2 {
            float: none;
            margin: 32px auto 0;
        }
        .share-this {
            strong {
                display: none;
            }
        }
    }
    .wgt-footer-nav {
        display: none;
    }
    .wgt-copyright {
        float: none;
        text-align: center;
    }
    .wgt-to-desktop {
        display: block;
    }
    .wgt-breadcrumb {
        display: none;
    }
    .wgt-page-nav {
        display: none;
    }
    .wgt-product-list {
        padding-top: 14px;
        li {
            background-position: 50% bottom;
            .images {
                float: none;
                text-align: center;
                width: auto;
                margin: 0;
                font-size: 0;
                line-height: 0;
                img {
                    max-width: 100%;
                    border: solid 1px #e1e1e1;
                }
            }
            .list-cont {
                margin-right: 0;
                overflow: visible;
                .btn1 {
                    float: left;
                }
                .btn2 {
                    float: right;
                    margin-right: 0;
                }
                .name {
                    .btn-round {
                        top: -15px;
                        right: 20px;
                    }
                }
            }
        }
    }
    .wgt-faq {
        margin-bottom: 20px;
    }
    .wgt-giftcard {
        margin-bottom: 28px;
        .btn-rect-stl1 {
            display: block;
        }
        .btn-rect-stl1-1 {
            display: inline-block;
        }
        .tip {
            margin-left: -10px;
            margin-right: -10px;
            span {
                display: block;
                margin-left: 0;
            }
        }
        .tip-content {
            .lft-block {
                width: auto;
                padding-left: 0;
                padding-top: 15px;
                margin-right: 0;
                clear: left;
            }
            .rgt-bolck {
                text-align: center;
                margin-bottom: 15px;
            }
        }
        table input[type="text"] {
            width: 100%;
        }
    }
    .wgt-locations {
        .searchbar {
            select {
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }
            input[type="text"] {
                width: 100%;
                margin-bottom: 5px;
            }
        }
        .location-list {
            li {
                float: none;
                width: auto;
                border-bottom: 1px solid #c3c3c3;
                .img {
                    display: none;
                }
                &:last-child {
                    border-bottom: 0;
                    margin-bottom: 0;
                }
            }
            blockquote {
                height: auto;
            }
            .btns {
                display: block;
                .btn-rect-stl5-1 {
                    border-width: 2px;
                }
            }
        }
        .list-opts {
            padding-top: 0;
            .btn-rect-stl5 {
                display: none;
            }
            .btn-rect-stl5-1 {
                background-color: #c22426;
                color: #fff;
                display: block;
                width: auto;
            }
            .list-info {
                float: none;
                strong {
                    display: none;
                }
            }
        }
    }
    .wgt-locatie-reserveren {
        background-color: #f6f5f4;
        .form {
            width: auto;
            th {
                padding-top: 0;
            }
            .th2 {
                padding-left: 0;
            }
            input[type="text"],input[type="password"],input[type="date"] {
                margin-bottom: 2px;
            }
            .btn-rectangule {
                margin-top: 21px;
            }
        }
    }
    .wgt-locatie-reserveren2 {
        margin-top: 30px;
        min-height: 420px;
        .page-title {
            font-size: 18px;
            line-height: 1.1;
        }
    }
    .wgt-locations {
        background: none;
        background-color: #f6f5f4;
    }
    .wgt-map {
        width: auto;
        overflow: visible;
    }
    /* page wgt setting */
    .home {
        .wgt-website-note {
            display: block;
        }
    }
    .locatie-detail {
        .wgt-product-list {
            display: none;
        }
    }
    .verkooppunten {
        .page-title-box.page-map-title {
            max-width: 100%;
        }
        .pagination {
            display: none;
        }
    }
}