/*
####################################

responsive

####################################
*/

$maxW: 1238px;
$midW: 972px;
$minW: 767px;

@media screen and (max-width: 1238px) {
    
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 972px) {}