/* top */
.wgt-shoppingcar {
    float: right;
    font-size: 12px;
    line-height: 28px;
    padding: 0;
    >i {
        vertical-align: -2px;
    }
    .num {
        color: #898989;
        margin: 0 5px;
        b {
            color: #000;
        }
    }
}

/* header */
.wgt-logo {
    float: left;
    display: inline-block;
    background: url(images/logo.png) no-repeat;
    background-size: 100%;
    margin-top: 12px;
    h1 {
        display: inline-block;
    }
    a {
        display: inline-block;
        width: 101px;
        height: 56px;
    }
}

.wgt-menu {
    float: right;
    font-size: 14px;
    margin-top: 31px;
    font-family: "montserratregular";
    >i {
        display: none;
    }
    >ul {
        >li {
            float: left;
            padding: 0 0 0 40px;
            a {
                color: #fff;
                line-height: 1;
                padding: 0 0 12px;
                text-decoration: none;
            }
            a:hover,
            a.active {
                border-bottom: 1px solid #fff;
            }
        }
    }
}

/* footer */
.wgt-copyright {
    color: #fff;
    font-family: "Helvetica";
    font-size: 12px;
    float: left;
    line-height: 1;
    margin-top: 28px;
}

.wgt-footer-nav {
    float: right;
    font-size: 10px;
    margin-top: 28px;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translate(0, -40px) scale(0.8333);
    a,span {
        display: inline-block;
        float: left;
        color: #fff;
        padding: 0 4px;
        font-family: "Helvetica";
    }
}

/* home */
.wgt-gift-card-search {
    background-color: #cb1150;
    padding: 21px 0 20px;
    color: #fff;
    font-size: 15px;
    font-family: "montserratregular";
    line-height: 30px;
    .control-label {
        font-family: "montserratbold";
        float: left;
    }
    .control-group {
        float: right;
        position: relative;
        vertical-align: middle;
        .error {
            color: #fff;
            position: absolute;
            left: 3px;
            bottom: -26px;
        }
        .txt {
            border: 1px solid #e5e5e5;
            border-top-color: #ccc;
            font-size: 12px;
            line-height: 18px;
            padding: 5px 8px;
            width: 356px;
            margin: 0 4px 0 0;
            float: left;
        }
        .btn {
            border: 1px solid #fff;
            color: #fff;
            display: inline-block;
            padding: 5px 10px;
            float: left;
            background: none;
            font-size: 12px;
            line-height: 18px;
            float: left;
        }
    }
}

.wgt-page-nav {
    padding: 7px 0;
    margin-bottom: 22px;
    a {
        color: #666666;
        font-size: 11px;
        line-height: 18px;
        display: inline-block;
        font-family: "helvetica_lightregular";
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(0.91667);
    }
}

.wgt-breadcrumb {
    background-color: #ebebeb;
    position: relative;
    .r-inner {
        padding: 7px 0 8px;
    }
    .icon-sort-down {
        position: absolute;
        bottom: -23px;
        left: 50%;
        margin-left: -11px;
        color: #ebebeb;
        font-size: 36px;
        width: 22px;
    }
    p {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(0.91667);
    }
    a,span {
        float: left;
        font-size: 11px;
        font-family: "helvetica_lightregular";
        line-height: 18px;
        color: #5e5e5e;
        display: inline-block;
    }
    span {
        margin: 0 5px;
    }
}

.wgt-website-note {
    background-color: #ebebeb;
    padding: 54px 0 36px;
    margin-top: 30px;
    .note-1 {
        width: 65.957446808511%;
        float: left;
        h6,
        h6 a {
            font-size: 16px;
            font-family: "montserratbold";
            color: #cb1150;
            line-height: 1;
        }
        h6 {
            padding-bottom: 4px;
        }
        p {
            margin-top: 1.7142857142857em;
            line-height: 24px;
            font-family: "Helvetica";
            font-size: 14px;
            color: #383838;
        }
    }
    .info {
        float: left;
        margin-top: 55px;
        strong {
            font-family: "montserratbold";
            font-size: 10px;
            -webkit-transform-origin: 0% 50%;
            -webkit-transform: scale(0.83333);
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            color: #787878;
        }
        img {
            vertical-align: middle;
            -webkit-transform: translate(-20px, 0);
        }
    }
    .note-2 {
        width: 300px;
        height: 265px;
        float: right;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            min-width: 100%;
            max-width: 100%;
            z-index: 1;
        }
        .note-txt {
            background-color: rgba(229, 193, 129, 0.9);
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            width: 114px;
            z-index: 2;
            color: #fff;
            font-size: 18px;
            line-height: 1.1;
            font-family: "montserratregular";
            padding-top: 12px;
            p {
                padding-left: 14px;
                margin: 0 0 1.5em;
            }
            .txt-2 {
                span {
                    color: black;
                }
            }
            .txt-3 {
                font-family: "montserratbold";
                font-size: 22px;
            }
            a.btn {
                margin: -9px 0 0 14px;
                display: inline-block;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                display: inline-block;
                padding: 6px 10px;
                line-height: 1;
                border: 1px solid #fff;
            }
            .icon {
                position: absolute;
                top: 50%;
                margin-top: -14px;
                right: -9px;
            }
        }
    }
    .share-this {
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        color: #383838;
        font-family: "montserratbold";
        margin-top: 25px;
        float: left;
        .icon {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            margin: 0 3px;
        }
        strong {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    .pay-link {
        float: right;
        margin-top: 25px;
        a {
            float: left;
            margin-left: 4px;
        }
    }
}

.wgt-product-list-home {
    padding: 5px 0 50px;
    ul {
        width: 102.1276595744685%;
        margin-left: -2.0833333333333%;
        h5,h5 a {
            font-size: 18px;
            font-family: "montserratbold";
            font-weight: 400;
        }
        h5 {
            padding: 32px 45px 0 50px;
            text-align: center;
            height: 54px;
            overflow-x: hidden;
        }
        .con {
            padding-left: 50px;
            display: none;
        }
        blockquote {
            font-family: "montserratregular";
            line-height: 22px;
            font-size: 14px;
            color: #383838;
            padding: 21px 45px 45px 0;
            height: 88px;
            overflow: hidden;
        }
        .price {
            font-size: 18px;
            font-family: "montserratbold";
        }
        .btns {
            padding: 61px 0 0 0;
            font-size: 14px;
        }
        .btn-rectangule {
            font-size: 14px;
        }
        .btn-1 {
            color: #fff;
        }
        .inner {
            position: relative;
            padding: 2px 0;
            height: 376px;
            overflow: hidden;
        }
        .btn-round {
            position: absolute;
            right: 6px;
            top: 67px;
        }
        .img {
            padding-top: 18px;
            img {
                max-width: 100%;
                text-align: center;
            }
        }
        >li {
            width: 31.25%;
            margin: 55px 0 0 2.0833333333333%;
            float: left;
            background: url(images/bg-item.png) 0 0 repeat-x;
            &.active,
            &:hover {
                h5 {
                    background-color: rgba(255, 255, 255, 0.95);
                }
                .con {
                    display: block;
                    background-color: rgba(255, 255, 255, 0.95);
                    position: relative;
                    z-index: 1;
                }
                .inner {
                    padding: 0;
                    border-width: 2px;
                    border-style: solid;
                    height: 376px;
                    padding: 0;
                }
                .img {
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    top: 80px;
                }
                .btn-round {
                    display: none;
                }
            }
            &.product-type-1,
            &.product-type-pink {
                h5,h5 a,.price {
                    color: #cb1150;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #cb1150;
                    }
                }
                .btn-round {
                    background-color: #cb1150;
                }
                .btn-1 {
                    background-color: #cb1150;
                    border-color: #cb1150;
                }
                .btn-2 {
                    border-color: #cb1150;
                    color: #cb1150;
                }
            }
            &.product-type-2,
            &.product-type-green {
                h5,h5 a,.price {
                    color: #16979d;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #16979d;
                    }
                }
                .btn-round {
                    background-color: #16979d;
                }
                .btn-1 {
                    background-color: #16979d;
                    border-color: #16979d;
                }
                .btn-2 {
                    border-color: #16979d;
                    color: #16979d;
                }
            }
            &.product-type-3,
            &.product-type-purple {
                h5,h5 a,.price {
                    color: #493469;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #493469;
                    }
                }
                .btn-round {
                    background-color: #493469;
                }
                .btn-1 {
                    background-color: #493469;
                    border-color: #493469;
                }
                .btn-2 {
                    border-color: #493469;
                    color: #493469;
                }
            }
            &.product-type-4,
            &.product-type-orange {
                h5,h5 a,.price {
                    color: #e5c181;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #e5c181;
                    }
                }
                .btn-round {
                    background-color: #e5c181;
                }
                .btn-1 {
                    background-color: #e5c181;
                    border-color: #e5c181;
                }
                .btn-2 {
                    border-color: #e5c181;
                    color: #e5c181;
                }
            }
            &.product-type-5,
            &.product-type-red {
                h5,h5 a,.price {
                    color: #c22426;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #c22426;
                    }
                }
                .btn-round {
                    background-color: #c22426;
                }
                .btn-1 {
                    background-color: #c22426;
                    border-color: #c22426;
                }
                .btn-2 {
                    border-color: #c22426;
                    color: #c22426;
                }
            }
            &.product-type-6,
            &.product-type-blue {
                h5,h5 a,.price {
                    color: #2a639c;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #2a639c;
                    }
                }
                .btn-round {
                    background-color: #2a639c;
                }
                .btn-1 {
                    background-color: #2a639c;
                    border-color: #2a639c;
                }
                .btn-2 {
                    border-color: #2a639c;
                    color: #2a639c;
                }
            }
        }
    }
}

.wgt-concept {
    background: url(images/bg-steps.png) 50% 0 no-repeat #f6f5f4;
    text-align: center;
    vertical-align: middle;
    color: #383838;
    h2 {
        padding: 40px 0 33px;
        font-family: "montserratbold";
        letter-spacing: 4px;
        font-size: 18px;
        text-transform: uppercase;
    }
    .item {
        display: inline-block;
        vertical-align: middle;
        span {
            display: block;
            height: 160px;
            text-align: center;
        }
    }
    .item-2 {
        cursor: pointer;
        background: url(images/bg-gift.png) 50% 0 no-repeat;
        img {
            display: none;
        }
        &:hover,&:active {
            img {
                display: inline-block;
            }
        }
    }
    .line {
        display: block;
        width: 140px;
        font-size: 0;
        line-height: 0;
        border-bottom: 1px solid #000;
        margin: 0 auto;
    }
    .formula {
        padding-top: 34px;
    }
    .symbol {
        font-family: "montserratregular";
        font-size: 50px;
        display: inline-block;
        margin: 0 55px;
    }
    h6 {
        font-size: 18px;
        font-family: "montserratbold";
        font-weight: 400;
        padding-top: 30px;
    }
    .note {
        font-family: "Helvetica";
        line-height: 24px;
        font-size: 14px;
        padding: 33px 0 40px;
        background: url(images/bg-steps-bm.png) 50% bottom no-repeat;
    }
}

.wgt-slider {
    position: relative;
    .slides {
        li {
            min-height: 390px;
            position: relative;
            .r-inner {
                position: relative;
                z-index: 2;
            }
            h5 {
                padding-top: 55px;
                font-family: "montserratbold";
                font-size: 22px;
                a {
                    color: #383838;
                    line-height: 1.3;
                    span {
                        color: #d13066;
                    }
                }
            }
        }
        blockquote {
            width: 300px;
            font-size: 14px;
            line-height: 18px;
            color: #383838;
            padding: 35px 910px 35px 0;
            font-family: "Helvetica";
        }
        .img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            width: 100%;
            img {
                display: inline-block;
                max-width: none;
            }
        }
    }
}

.wgt-locations {
    background: url(images/bg-steps.png) 50% 0 no-repeat #f6f5f4;
    padding: 42px 0 0;
    position: relative;
    .select-mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
    }
    select.cur {
        position: relative;
        z-index: 2;
    }
    .searchbar {
        padding: 40px 0 48px;
        @include clearfix;
        input[type="text"] {
            width: 340px;
            vertical-align: middle;
            margin: 0;
        }
        input[type="text"],select,.btn-rectangule {
            padding-top: 11px;
            padding-bottom: 11px;
        }
        .btn-rectangule {
            float: right;
            font-size: 14px;
        }
        select {
            margin: 0 10px 0 0;
            width: 250px;
            vertical-align: middle;
        }
    }
    h2 {
        text-align: center;
        color: #383838;
        font-size: 18px;
        font-family: "montserratbold";
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .location-list {
        ul {
            @include clearfix;
        }
        li {
            float: left;
            width: 50%;
            margin-bottom: 20px;
        }
        .inner {
            padding-right: 5px;
        }
        .img {
            width: 139px;
            height: 139px;
            display: inline-block;
            float: left;
            margin-right: 20px;
            img {
                max-width: 100%;
                min-width: 100%;
            }
            background-color: #d7d7d7;
        }
        .con {
            overflow: hidden;
            font-size: 14px;
            color: #383838;
            line-height: 18px;
        }
        blockquote {
            height: 72px;
            overflow: hidden;
        }
        .btns {
            display: none;
            padding: 15px 0 20px;
        }
        p.place {
            margin: 5px 0 18px;
        }
        h5,
        h5 a {
            color: #c22426;
            font-size: 18px;
            font-family: "montserratbold";
        }
    }
    .list-opts {
        @include clearfix;
        font-family: "montserratbold";
        font-size: 14px;
        padding: 20px 0 34px;
        .list-info {
            float: right;
        }
        strong {
            margin-right: 10px;
        }
    }
    .map {
        position: relative;
        width: 100%;
        text-align: center;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        img {
            min-width: 100%;
            max-width: 100%;
        }
        .shadow {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(images/bg-map-bm.png) 50% bottom no-repeat;
            height: 20px;
        }
    }
}

.wgt-to-desktop {
    display: none;
    background-color: #fff;
    text-align: center;
    padding: 5px 0;
    .icon {
        margin-right: 5px;
        vertical-align: middle;
    }
    a {
        font-size: 10px;
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: translate(0, 0) scale(0.8333);
        color: #9b9b9b;
        display: inline-block;
        vertical-align: middle;
    }
}