$main-color: #cb1e59;
$color-rose: #cb114f;
$color-darkGreen: #15979d;
$color-purple: #493369;
$color-yellow: #e5c181;
$color-red: #c12325;
$color-blue: #29639b;

.widget-box {
    background-color: #cb1e5a;
    color: #fff;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 18px;
    margin-bottom: 30px;
    .widget-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .content {
        margin-bottom: 25px;
    }
    .search-block {
        position: relative;
        input[type="text"] {
            height: 42px;
            border-color: transparent;
            background-color: #fff;
            &.input-validation-error{
                box-shadow: 0 0 5px 0px #fbdfe9 !important;
            }
        }
        span.field-validation-error{
            color:#fff !important;
            text-shadow: 0 0 5px 0px #fbdfe9 !important;
        }
        .search-btn {
            position: absolute;
            background-color: rgba(203, 29, 89, 0.5);
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 42px;
            top: 1px;
            right: 1px;
            text-decoration: none;
            text-align: center;
            color: #cb1e5a;
            font-size: 14px;
        }
    }
}

.wgt-side-contact {
    font-size: 12px;
    color: #6a6a6a;
    line-height: 18px;
    h3 {
        font-weight: bold;
        color: $main-color;
        font-size: 14px;
    }
    .address {
        margin-bottom: 25px;
    }
    a {
        color: #cb1e5a;
        text-decoration: underline;
    }
}

.wgt-agreenment {
    font-size: 12px;
    color: #333;
    line-height: 24px;
    dt {
        color: #d54b7b;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    dd {
        margin-bottom: 30px;
    }
}

.wgt-product-list {
    li {
        color: #333;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 45px;
        background: url(images/line.png) no-repeat bottom right;
        height: 100%;
        overflow: hidden;
        margin-bottom: 35px;
        .images {
            width: 300px;
            float: left;
            margin-right: 20px;
            img {
                display: block;
            }
        }
        .list-cont {
            margin: 0 77px 0 0;
            overflow: hidden;
            .name {
                position: relative;
                font-family: "montserratbold";
                font-size: 20px;
                min-height: 80px;
                line-height: 24px;
                .btn-round {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .product-descript {
                min-height: 105px;
            }
            .btn-rectangule {
                margin-right: 15px;
            }
        }
        .btn2 {
            background-color: transparent;
        }
    }
    .product-list-pink {
        .name {
            h2 {
                a {
                    color: $color-rose;
                }
            }
        }
        .btn1 {
            background-color: $color-rose;
            border-color: $color-rose;
        }
        .btn2 {
            border-color: $color-rose;
            color: $color-rose;
        }
        .btn-round {
            background-color: #cb1d59;
        }
    }
    .product-list-green {
        .name {
            h2 {
                a {
                    color: $color-darkGreen;
                }
            }
        }
        .btn1 {
            background-color: $color-darkGreen;
            border-color: $color-darkGreen;
        }
        .btn2 {
            border-color: $color-darkGreen;
            color: $color-darkGreen;
        }
        .btn-round {
            background-color: $color-darkGreen;
        }
    }
    .product-list-purple {
        .name {
            h2 {
                a {
                    color: $color-purple;
                }
            }
        }
        .btn1 {
            background-color: $color-purple;
            border-color: $color-purple;
        }
        .btn2 {
            border-color: $color-purple;
            color: $color-purple;
        }
        .btn-round {
            background-color: $color-purple;
        }
    }
    .product-list-orange {
        .name {
            h2 {
                a {
                    color: $color-yellow;
                }
            }
        }
        .btn1 {
            background-color: $color-yellow;
            border-color: $color-yellow;
        }
        .btn2 {
            border-color: $color-yellow;
            color: $color-yellow;
        }
        .btn-round {
            background-color: $color-yellow;
        }
    }
    .product-list-red {
        .name {
            h2 {
                a {
                    color: $color-red;
                }
            }
        }
        .btn1 {
            background-color: $color-red;
            border-color: $color-red;
        }
        .btn2 {
            border-color: $color-red;
            color: $color-red;
        }
        .btn-round {
            background-color: $color-red;
        }
    }
    .product-list-blue {
        .name {
            h2 {
                a {
                    color: $color-blue;
                }
            }
        }
        .btn1 {
            background-color: $color-blue;
            border-color: $color-blue;
        }
        .btn2 {
            border-color: $color-blue;
            color: $color-blue;
        }
        .btn-round {
            background-color: $color-blue;
        }
    }
    li:last-child {
        background: none;
        margin-bottom: 0;
    }
}

.banner-box {
    margin-bottom: 30px;
}

.benefits {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin-bottom: 30px;
    dt {
        color: #9b9b9b;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 15px;
    }
    dd {
        background: url(images/check-green.png) no-repeat 0 10px;
        padding: 10px 0 10px 35px;
    }
}

.wgt-giftcard {
    table {
        th, td {
            vertical-align: top;
        }
        th {
            font-weight: bold;
            color: #373737;
            font-size: 14px;
            padding-top: 12px;
            width: 23%;
        }
        input[type="text"] {
            width: 355px;
        }
        .btn-rectangule {
            font-size: 14px;            
            line-height: 28px;
            white-space: nowrap;
        }
        .btns {
            text-align: right;
        }
        .error,
        .field-validation-error {
            padding-left: 13px;
            position: absolute;
            bottom: 0;           
        }
    }
    .tip {
        color: #373737;
        font-size: 14px;
        font-weight: bold;
        padding: 11px 0 11px 10px;
        width: 100%;
        margin: 10px 0 20px -10px;
        background-color: #ebebeb;
        span {
            color: #cb1e59;
            font-family: "montserratbold";
            font-size: 22px;
            text-transform: uppercase;
            margin-left: 15px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .tip-content {
        .lft-block {
            width: 380px;
            padding-top: 29px;
            line-height: 18px;
            color: #333;
            float: left;
            margin-right: 90px;
            p {
                margin-bottom: 20px;
            }
            strong {
                font-weight: 700;
            }
        }
        .button {
            float: left;
            .btn-rectangule {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

.search-map {
    .search_input {
        float: left;
        width: 615px;
        margin-right: 13px;
    }
    .btn-rectangule {
        height: 40px;
        width: 72px;
    }
}

.wgt-map {
    width: 700px;
    overflow: hidden;
}

.wgt-mapInfoCon {
    color: #6a6a6a;
    line-height: 18px;
    dl {
        margin-bottom: 24px;
    }
    dt {
        color: #cb114f;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.wgt-location-detail {
    background: url(images/bg-steps.png) 50% 0 no-repeat #f6f5f4;
    padding: 60px 0 50px;
    .lft-block {
        float: left;
        width: 415px;
    }
    .slider2 {
        position: relative;
        margin-right: 6px;
    }
    .btn-rect-stl8 {
        background-color: #ea8400;
        border-color: #ea8400;
        display: block;
        margin-top: 31px;
        width: 278px;
    }
    .content {
        line-height: 18px;
        color: #000;
        font-weight: bold;        
        overflow: hidden;
        h3 {
            color: #008b91;
            font-family: "montserratbold";
            font-size: 22px;
            line-height: 26px;
        }
        blockquote {
            margin: 20px 0;
        }
        dt {
            color: #008b92;
        }
        dd {
            margin-bottom: 20px;
        }
        .btn-rectangule {
            margin-right: 15px;
        }
        .btn1 {
            background-color: #15979d;
            border-color: #15979d;
        }
        .btn2, .btn3 {
            border-color: #15979d;
            background-color: transparent;
            color: #15979d;
        }
    }
    .flex-control-thumbs {
        position: absolute;
        top: 0;
        left: 320px;
        padding: 0;
        margin: 0;
        li {
            width: 59px;
            clear: left;
            margin-bottom: 20px;
        }
    }
}

.wgt-detail-map {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}

.wgt-locatie-reserveren {
    background: url(images/bg-steps2.png) 50% 0 no-repeat;
    padding: 93px 0 2px;
    position: relative;
    top: -38px;
    .form {
        width: 700px;
        th,td {
            vertical-align: top;
        }
        th {
            padding-top: 12px;
        }
        .th2 {
            padding-left: 20px;
        }
    }
}

.wgt-locatie-reserveren2 {
    .page-title {
        color: #008b91;
    }
    .name {
        color: #008b91;
        font-size: 14px;
    }
    .page-brief {
        margin-bottom: 20px;
        strong {
            font-weight: bold;
            font-family: 'montserratbold';
        }
    }
}