$main-color:#cb1e59;
$color-rose: #cb114f;
$color-darkGreen: #15979d;
$color-purple: #493369;
$color-yellow: #e5c181;
$color-red: #c12325;
$color-blue: #29639b;

.widget-box {
    background-color: #cb1e5a;
    color: #fff;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 18px;
    margin-bottom: 30px;
    .widget-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .content {
        margin-bottom: 25px;
    }
    .search-block {
        position: relative;
        input[type="text"] {
            height: 42px;
            border-color: transparent;
            background-color: #fff;
        }
        .search-btn {
            position: absolute;
            background-color: rgba(203, 29, 89, 0.5);
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 42px;
            top: 1px;
            right: 1px;
            text-decoration: none;
            text-align: center;
            color: #cb1e5a;
            font-size:14px;
        }
    }
}

.wgt-side-contact {
    font-size: 12px;
    color: #6a6a6a;
    line-height: 18px;
    h3 {
        font-weight: bold;
        color: $main-color;
        font-size: 14px;
    }
    .address {
        margin-bottom: 25px;
    }
    a {
        color: #cb1e5a;
        text-decoration: underline;
    }
}

.wgt-agreenment{
    font-size: 12px;
    color: #333;
    line-height: 24px;
    dt{
        color: #d54b7b;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    dd{
        margin-bottom: 30px;
    }
}

.wgt-product-list{
    li{
        color: #333;
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 45px;
        background: url(images/line.png) no-repeat bottom right;
        height: 100%;
        overflow: hidden;
        margin-bottom: 35px;
        .images{
            width: 300px;
            float: left;
            margin-right: 20px;
            img{
                display: block;
            }
        }
        .list-cont{
            margin:0 77px 0 0;
            overflow: hidden;
            .name{
                position: relative;
                font-family: "montserratbold";
                font-size: 20px;
                min-height: 80px;
                line-height: 24px;
                .btn-round{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            .product-descript{
                min-height: 105px;
            }
            .btn-rectangule{
                margin-right: 15px;
            }
        }
        .btn2{
            background-color: transparent;            
        }
    }
    .product-list-1 {
        .name{
            h2{
                a{
                    color: $color-rose;    
                }                 
            }          
        }
        .btn1{
            background-color: $color-rose;
            border-color: $color-rose;
        }
        .btn2{
            border-color: $color-rose;
            color: $color-rose;
        }
        .btn-round{
            background-color: #cb1d59;
        }
    }
    .product-list-2 {
        .name{
            h2{
                a{
                    color: $color-darkGreen;   
                }                     
            }            
        }
        .btn1{
            background-color: $color-darkGreen;
            border-color: $color-darkGreen;
        }
        .btn2{
            border-color: $color-darkGreen;
            color: $color-darkGreen;
        }
        .btn-round{
            background-color: $color-darkGreen;
        }
    }
    .product-list-3 {
        .name{
            h2{
                a{
                    color: $color-purple; 
                } 
                                   
            }            
        }
        .btn1{
            background-color: $color-purple;
            border-color: $color-purple;
        }
        .btn2{
            border-color: $color-purple;
            color: $color-purple;
        }
        .btn-round{
            background-color: $color-purple;
        }
    }
    .product-list-4 {
        .name{
            h2{                
                a{
                    color: $color-yellow;
                }                     
            }            
        }
        .btn1{
            background-color: $color-yellow;
            border-color: $color-yellow;
        }
        .btn2{
            border-color: $color-yellow;
            color: $color-yellow;
        }
        .btn-round{
            background-color: $color-yellow;
        }
    }
    .product-list-5 {
        .name{
            h2{
                
                a{
                    color: $color-red;     
                }          
            }            
        }
        .btn1{
            background-color: $color-red;
            border-color: $color-red;
        }
        .btn2{
            border-color: $color-red;
            color: $color-red;
        }
        .btn-round{
            background-color: $color-red;
        }
    }
    .product-list-6 {
        .name{
            h2{
                
                a{
                    color: $color-blue;
                }                     
            }            
        }
        .btn1{
            background-color: $color-blue;
            border-color: $color-blue;
        }
        .btn2{
            border-color: $color-blue;
            color: $color-blue;
        }
        .btn-round{
            background-color: $color-blue;
        }
    }
}

.banner-box{
    margin-bottom: 30px;
}

.benefits{
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin-bottom: 30px;
    dt{
        color: #9b9b9b;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 15px;
    }
    dd{
        background: url(images/check-green.png) no-repeat 0 10px;
        padding:10px 0 10px 35px;
    }
}

.wgt-giftcard{
    table{
        th, td{
            vertical-align: top;
        }
        th{
            font-weight: bold;
            color: #373737;
            font-size: 14px;
            padding-top: 12px;
            width: 23%;
        }
        input[type="text"]{
            width: 355px;
        }
        .btn-rectangule{
            font-size: 14px;
            height: 28px;
            line-height: 28px;
        }
        .error{
            padding-left: 10px;
        }
    }
    .tip{
        color: #373737; 
        font-size: 14px;
        font-weight: bold;
        padding: 15px 10px;
        margin: 10px 0 20px;
        background-color: #ebebeb;
        span{
            color: #cb1e59; 
            font-family: "montserratbold";
            font-size: 22px;
            text-transform: uppercase;
            margin-left: 15px;
        }
    }
    .tip-content{
        .rgt-bolck{
            float: right;
            width: 230px;
        }
        .lft-block{
            width: 380px;
            padding-left: 10px;
            padding-top: 35px;
            line-height: 18px;
            color: #333;
            p{
                margin-bottom: 20px;
            }
            strong{
                font-weight: 700;
            }
        }
        .btn-rectangule{
            font-size: 14px;
            margin-top: 25px;
        }
    }
}

.search-map{
    .search_input{
        float: left;
        width: 615px;
        margin-right: 13px;
    }
    .btn-rectangule{
        height: 40px;
        width: 72px;
    }
}

.wgt-map{
    width: 700px;
    overflow: hidden;
}

.wgt-mapInfoCon{
    color: #6a6a6a;
    line-height: 18px;
    dl{
        margin-bottom: 24px;
    }
    dt{
        color: #cb114f; 
        font-weight: bold;
        font-size:14px;
        text-transform:uppercase;
    }
}

.wgt-location-detail {
    background: url(images/bg-steps.png) 50% 0 no-repeat #f6f5f4;
    padding: 60px 0 50px;
    .slider2{
        position: relative;
    }
    .images{
        float: left;
        width: 300px;
    }
    .content{
        line-height: 18px;
        color: #000;
        font-weight: bold;
        padding-left: 415px;
        h3{
            color: #008b91; 
            font-family: "montserratbold";
            font-size: 22px;
            line-height: 26px;
        }
        blockquote{
            margin: 20px 0;
        }
        dt{
           color: #008b92; 
        }
        dd{
            margin-bottom: 20px;
        }
        .btn-rectangule{
            margin-right: 15px;
        }
    }
    .flex-control-thumbs {
        position: absolute;
        top: 0;
        left: 320px;
        padding: 0;
        margin: 0;
        li{
            width: 59px;
            clear: left;
            margin-bottom: 20px;
        }
    }
}
.wgt-detail-map{
    width: 100%;
    img{
        display: block;
        width: 100%;
    }
}

.wgt-locatie-reserveren{
    background: url(images/bg-steps2.png) 50% 0 no-repeat;
    padding: 93px 0 2px;
    position: relative;
    top: -38px;
    .form{
        width: 700px;
        th,td{
            vertical-align: top;
        }
        th{
            padding-top: 12px;
        }
        .th2{
            padding-left: 20px;
        }
    }

}

.wgt-locatie-reserveren2{
    .page-title{
        color: #008b91;
    }
    .name{
        color: #008b91;
    }
    .page-brief{
        margin-bottom: 20px;
        font-weight: bold;
    }
}