
.contact-rgt{
    .wgt-subscribe{
        margin-top: 113px;
    }
}
.widget-box {
    background-color: #cb1e5a;
    color: #fff;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 18px;
    margin-bottom: 30px;
    .widget-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .content {
        margin-bottom: 25px;
    }
    .search-block {
        position: relative;
        input[type="text"] {
            height: 42px;
            border-color: transparent;
            background-color: #fff;
        }
        .search-btn {
            position: absolute;
            background-color: rgba(203, 29, 89, 0.5);
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 42px;
            top: 1px;
            right: 1px;
            text-decoration: none;
            text-align: center;
            color: #cb1e5a;
        }
    }
}

.wgt-side-contact {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #6a6a6a;
    line-height: 18px;
    h3 {
        font-weight: bold;
        color: #cb1e59;
        font-size: 14px;
    }
    .address {
        margin-bottom: 25px;
    }
    a {
        color: #cb1e5a;
        text-decoration: underline;
    }
}