/* top */
.wgt-shoppingcar {
    float: right;
    font-size: 12px;
    line-height: 28px;
    padding: 0;
    >i {
        vertical-align: -2px;
    }
    .num {
        color: #898989;
        margin: 0 5px;
        b {
            color: #000;
        }
    }
}

/* header */
.wgt-logo {
    float: left;
    display: inline-block;
    background: url(images/logo.png);
    margin-top: 12px;
    h1 {
        display: inline-block;
    }
    a {
        display: inline-block;
        width: 101px;
        height: 56px;
    }
}

.wgt-menu {
    float: right;
    font-size: 14px;
    margin-top: 35px;
    font-family: "Montserrat";
    >ul {
        >li {
            float: left;
            padding: 0 0 0 40px;
            a {
                color: #fff;
                line-height: 1;
                padding: 0 0 12px;
                text-decoration: none;
            }
            a:hover,
            a.active {
                border-bottom: 1px solid #fff;
            }
        }
    }
}

/* footer */
.wgt-copyright {
    color: #fff;
    font-family: "Helvetica";
    font-size: 12px;
    float: left;
    line-height: 1;
    margin-top: 28px;
}

.wgt-footer-nav {
    float: right;
    font-size: 10px;
    margin-top: 28px;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translate(0, -40px) scale(0.8333);
    a,span {
        display: inline-block;
        float: left;
        color: #fff;
        padding: 0 4px;
        font-family: "Helvetica";
    }
}

/* home */
.wgt-gift-card-search{
    background-color: #cb1150;
    padding:21px 0 20px;
    color:#fff;
    font-size:15px;
    font-family: "Montserrat";  
    line-height: 30px;  
    .control-label{
        font-weight: 700;
        float: left;
    }
    .control-group{
        float: right;
        vertical-align: middle;
        .txt{
            border:1px solid #e5e5e5;
            border-top-color:#ccc;
            font-size:12px;
            line-height: 18px;
            padding:5px 8px;
            width:356px;
            margin:0 4px 0 0;
            float: left;
            
        }
        .btn{
            border:1px solid #fff;
            color:#fff;
            display: inline-block;
            padding:5px 10px;
            float: left;
            background: none;
            font-size: 12px;
            line-height: 18px;
            float: left;            

        }
    }
}