/* top */
.wgt-shoppingcar {
    float: right;
    font-size: 12px;
    line-height: 28px;
    padding: 0;
    >i {
        vertical-align: -2px;
    }
    .num {
        color: #898989;
        margin: 0 5px;
        b {
            color: #000;
        }
    }
}

/* header */
.wgt-logo {
    float: left;
    display: inline-block;
    background: url(images/logo.png);
    margin-top: 12px;
    h1 {
        display: inline-block;
    }
    a {
        display: inline-block;
        width: 101px;
        height: 56px;
    }
}

.wgt-menu {
    float: right;
    font-size: 14px;
    margin-top: 35px;
    font-family: "montserratregular";
    >ul {
        >li {
            float: left;
            padding: 0 0 0 40px;
            a {
                color: #fff;
                line-height: 1;
                padding: 0 0 12px;
                text-decoration: none;
            }
            a:hover,
            a.active {
                border-bottom: 1px solid #fff;
            }
        }
    }
}

/* footer */
.wgt-copyright {
    color: #fff;
    font-family: "Helvetica";
    font-size: 12px;
    float: left;
    line-height: 1;
    margin-top: 28px;
}

.wgt-footer-nav {
    float: right;
    font-size: 10px;
    margin-top: 28px;
    -webkit-transform-origin: 100% 50%;
    -webkit-transform: translate(0, -40px) scale(0.8333);
    a,span {
        display: inline-block;
        float: left;
        color: #fff;
        padding: 0 4px;
        font-family: "Helvetica";
    }
}

/* home */
.wgt-gift-card-search {
    background-color: #cb1150;
    padding: 21px 0 20px;
    color: #fff;
    font-size: 15px;
    font-family: "montserratregular";
    line-height: 30px;
    .control-label {
        font-family: "montserratbold";
        float: left;
    }
    .control-group {
        float: right;
        vertical-align: middle;
        .txt {
            border: 1px solid #e5e5e5;
            border-top-color: #ccc;
            font-size: 12px;
            line-height: 18px;
            padding: 5px 8px;
            width: 356px;
            margin: 0 4px 0 0;
            float: left;
        }
        .btn {
            border: 1px solid #fff;
            color: #fff;
            display: inline-block;
            padding: 5px 10px;
            float: left;
            background: none;
            font-size: 12px;
            line-height: 18px;
            float: left;
        }
    }
}

.wgt-page-nav {
    padding: 7px 0;
    margin-bottom: 20px;
    a {
        color: #666666;
        font-size: 11px;
        line-height: 18px;
        display: inline-block;
        font-family: "helvetica_lightregular";
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(0.91667);
    }
}

.wgt-breadcrumb {
    background-color: #ebebeb;
    position: relative;
    .r-inner {
        padding: 7px 0 8px;
    }
    .icon {
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -11px;
    }
    p {
        -webkit-transform-origin: 0% 50%;
        -webkit-transform: scale(0.91667);
    }
    a,span {
        float: left;
        font-size: 11px;
        font-family: "helvetica_lightregular";
        line-height: 18px;
        color: #5e5e5e;
        display: inline-block;
    }
    span {
        margin: 0 5px;
    }
}

.wgt-website-note {
    background-color: #ebebeb;
    padding: 54px 0 36px;
    margin-top: 30px;
    .note-1 {
        width: 65.957446808511%;
        float: left;
        h6,
        h6 a {
            font-size: 16px;
            font-family: "montserratbold";
            color: #cb1150;
            line-height: 1;
        }
        h6 {
            padding-bottom: 4px;
        }
        p {
            margin-top: 1.7142857142857em;
            line-height: 24px;
            font-family: "Helvetica";
            font-size: 14px;
            color: #383838;
        }
        .info {
            margin-top: 55px;
            strong {
                font-family: "montserratbold";
                font-size: 10px;
                -webkit-transform-origin: 0% 50%;
                -webkit-transform: scale(0.83333);
                display: inline-block;
                vertical-align: middle;
                font-weight: 400;
                color: #787878;
            }
            img {
                vertical-align: middle;
                -webkit-transform: translate(-20px, 0);
            }
        }
    }
    .note-2 {
        width: 300px;
        height: 265px;
        float: right;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            min-width: 100%;
            max-width: 100%;
            z-index: 1;
        }
        .note-txt {
            background-color: rgba(229, 193, 129, 0.9);
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            width: 114px;
            z-index: 2;
            color: #fff;
            font-size: 18px;
            line-height: 1.1;
            font-family: "montserratregular";
            padding-top: 12px;
            p {
                padding-left: 14px;
                margin: 0 0 1.5em;
            }
            .txt-2 {
                span {
                    color: black;
                }
            }
            .txt-3 {
                font-family: "montserratbold";
                font-size: 22px;
            }
            a.btn {
                margin: -9px 0 0 14px;
                display: inline-block;
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                display: inline-block;
                padding: 6px 10px;
                line-height: 1;
                border: 1px solid #fff;
            }
            .icon {
                position: absolute;
                top: 50%;
                margin-top: -14px;
                right: -9px;
            }
        }
    }
    .share-this {
        vertical-align: middle;
        font-size: 12px;
        font-weight: bold;
        color: #383838;
        font-family: "montserratbold";
        margin-top: 25px;
        float: left;
        .icon {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            margin: 0 3px;
        }
        strong {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    .pay-link {
        float: right;
        margin-top: 25px;
        a {
            float: left;
            margin-left: 4px;
        }
    }
}

.wgt-product-list-home {
    padding: 5px 0 50px;
    ul {
        width: 102.1276595744685%;
        margin-left: -2.0833333333333%;
        h5,h5 a {
            font-size: 18px;
            font-family: "montserratbold";
            font-weight: 400;
        }
        h5 {
            padding: 32px 45px 0 50px;
            text-align: center;
        }
        .con {
            padding-left: 50px;
            display: none;
        }
        blockquote {
            font-family: "montserratregular";
            line-height: 22px;
            font-size: 14px;
            color: #383838;
            padding: 48px 45px 45px 0;
        }
        .price {
            font-size: 18px;
            font-family: "montserratbold";
        }
        .btns {
            padding: 61px 0 0 0;
            font-size: 14px;
        }
        .btn-rectangule {
            font-size: 14px;
        }
        .btn-1 {
            color: #fff;
            border: 1px solid;
        }
        .btn-2 {
            border: 1px solid;
        }
        .inner{
            position: relative;
            padding:2px 0;
            height:376px;
        }
        .btn-round{
            position: absolute;
            right:6px;
            top:67px;
        }
        .img{
            padding-top: 45px;
            img{
                max-width: 100%;
                text-align: center;
            }
        }
        >li {
            width: 31.25%;
            margin: 55px 0 0 2.0833333333333%;
            float: left;
            &.active,
            &:hover {
                .img {
                    display: none;
                }
                .con {
                    display: block;
                }
                .inner {
                    padding: 0;
                    border-width: 2px;
                    border-style: solid;
                    height: 376px;
                    padding:0;
                }
                .img {
                    display: none;
                }
                .btn-round {
                    display: none;
                }
            }
            &.product-type-1 {
                h5,h5 a,.price {
                    color: #cb1150;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #cb1150;
                    }
                }
                .btn-round {
                    background-color: #cb1150;
                }
                .btn-1 {
                    background-color: #cb1150;
                    border-color: #cb1150;
                }
                .btn-2 {
                    border-color: #cb1150;
                    color: #cb1150;
                }
            }
             &.product-type-2 {
                h5,h5 a,.price {
                    color: #16979d;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #16979d;
                    }
                }
                .btn-round {
                    background-color: #16979d;
                }
                .btn-1 {
                    background-color: #16979d;
                    border-color: #16979d;
                }
                .btn-2 {
                    border-color: #16979d;
                    color: #16979d;
                }
            }
             &.product-type-3 {
                h5,h5 a,.price {
                    color: #493469;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #493469;
                    }
                }
                .btn-round {
                    background-color: #493469;
                }
                .btn-1 {
                    background-color: #493469;
                    border-color: #493469;
                }
                .btn-2 {
                    border-color: #493469;
                    color: #493469;
                }
            }
             &.product-type-4 {
                h5,h5 a,.price {
                    color: #e5c181;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #e5c181;
                    }
                }
                .btn-round {
                    background-color: #e5c181;
                }
                .btn-1 {
                    background-color: #e5c181;
                    border-color: #e5c181;
                }
                .btn-2 {
                    border-color: #e5c181;
                    color: #e5c181;
                }
            }
             &.product-type-5 {
                h5,h5 a,.price {
                    color: #c22426;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #c22426;
                    }
                }
                .btn-round {
                    background-color: #c22426;
                }
                .btn-1 {
                    background-color: #c22426;
                    border-color: #c22426;
                }
                .btn-2 {
                    border-color: #c22426;
                    color: #c22426;
                }
            }
             &.product-type-6 {
                h5,h5 a,.price {
                    color: #2a639c;
                }
                &.active,
                &:hover {
                    .inner {
                        border-color: #2a639c;
                    }
                }
                .btn-round {
                    background-color: #2a639c;
                }
                .btn-1 {
                    background-color: #2a639c;
                    border-color: #2a639c;
                }
                .btn-2 {
                    border-color: #2a639c;
                    color: #2a639c;
                }
            }
        }
    }
}



