<footer class="footer">
    <div class="r-inner">
        <div class="wgt-copyright">
            © 2014 Momento Giftbox. All rights reserved.
        </div>
        <div class="wgt-footer-nav">
        	<a href="#">Zakelijk</a>
        	<span>I</span>
        	<a href="#">Disclaimer</a>
        	<span>I</span>
        	<a href="#">Privacy</a>
        	<span>I</span>
        	<a href="#">AVW</a>
        	<span>I</span>
        	<a href="#">Over Momento</a>
        	<span>I</span>
        	<a href="#">Over ons</a>
        	<span>I</span>
        	<a href="#">FAQ</a>
        	<span>I</span>
        	<a href="#">In de pers</a>
        	<span>I</span>
        	<a href="#">Nieuwsbrief</a>
        	<span>I</span>
        	<a href="#">Contact</a>
        	<span>I</span>
        	<a href="#">Acceptanten</a>            
        </div>
    </div>
</footer>
<div class="wgt-to-desktop">
    <i class="icon icon-desktop"></i><a href="#">Klik hier voor de desktop versie</a>
</div>
