<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Momento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Momento">
    <link href="../assets/app.css" rel="stylesheet">
</head>

<body>
    <div class="top">
        <div class="inner">[Top]</div>
    </div>

    <header class="header">
        <div class="inner">
            <h1 class="wgt-logo">
                [Logo]
            </h1>
            <div class="wgt-Menu">
                [wgt-Menu]
            </div>
        </div>
    </header>
