<header class="header">
    <div class="r-inner">    	
        <h1 class="wgt-logo">
            <a href="#"></a>
        </h1>
        <div class="wgt-menu">
           <i class="icon-font-awesome icon-reorder"></i>
           <ul>
           	<li><a href="giftcard-controle.shtml">Giftbox controleren  </a></li>
           	<li><a href="arrangementen.shtml" class="active" >Arrangementen</a></li>
           	<li><a href="verkooppunten.shtml">Verkooppunten</a></li>
           	<li><a href="contact.shtml">Contact</a></li>
           </ul>
        </div>
    </div>
</header>
