/* line 17, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../Program Files (x86)/Koala/rubygems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/****** 
	base layout
*/
/* line 4, scss/partials/_layout.scss */
.r-inner {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }
  /* line 3, scss/partials/_mixin.scss */
  .r-inner:before, .r-inner:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  /* line 7, scss/partials/_mixin.scss */
  .r-inner:after {
    clear: both; }

/* line 11, scss/partials/_layout.scss */
.top {
  height: 30px; }

/* line 15, scss/partials/_layout.scss */
header.header {
  height: 80px; }

/* line 19, scss/partials/_layout.scss */
footer.footer {
  height: 69px; }

/* line 23, scss/partials/_layout.scss */
.main {
  float: left;
  width: 74.468085106%; }

/* line 28, scss/partials/_layout.scss */
.side {
  float: right;
  width: 23.404255319%; }

@font-face {
  font-family: 'FontAwesome';
  src: url("font/fontawesome-webfont.eot");
  src: url("font/fontawesome-webfont.eot") format("embedded-opentype"), url("font/fontawesome-webfont.woff") format("woff"), url("font/fontawesome-webfont.ttf") format("truetype"), url("font/fontawesome-webfont.svg") format("svg"); }

/* FONT AWESOME CORE
 * -------------------------- */
/* line 13, scss/partials/_font.scss */
.icon-font-awesome {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; }

/* line 22, scss/partials/_font.scss */
.icon-font-awesome:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* makes the font 33% larger relative to the icon container */
/* line 29, scss/partials/_font.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

/* makes sure icons active on rollover in links */
/* line 37, scss/partials/_font.scss */
a .icon-font-awesome,
a .icon-font-awesome:before:before {
  display: inline; }

/* increased font size for icon-large */
/* line 42, scss/partials/_font.scss */
.icon-font-awesome.icon-fixed-width {
  display: inline-block;
  width: 1.2857142857142858em;
  text-align: center; }

/* line 48, scss/partials/_font.scss */
.icon-font-awesome.icon-fixed-width.icon-large {
  width: 1.5714285714285714em; }

/* line 52, scss/partials/_font.scss */
ul.icons-ul {
  list-style-type: none;
  text-indent: -0.7142857142857143em;
  margin-left: 2.142857142857143em; }

/* line 58, scss/partials/_font.scss */
ul.icons-ul > li .icon-li {
  width: 0.7142857142857143em;
  display: inline-block;
  text-align: center; }

/* line 64, scss/partials/_font.scss */
.icon-font-awesome.hide {
  display: none; }

/* line 68, scss/partials/_font.scss */
.icon-muted {
  color: #eeeeee; }

/* line 72, scss/partials/_font.scss */
.icon-light {
  color: #ffffff; }

/* line 76, scss/partials/_font.scss */
.icon-dark {
  color: #333333; }

/* line 80, scss/partials/_font.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  border-radius: 3px; }

/* line 86, scss/partials/_font.scss */
.icon-2x {
  font-size: 2em; }

/* line 90, scss/partials/_font.scss */
.icon-2x.icon-border {
  border-width: 2px;
  border-radius: 4px; }

/* line 95, scss/partials/_font.scss */
.icon-3x {
  font-size: 3em; }

/* line 99, scss/partials/_font.scss */
.icon-3x.icon-border {
  border-width: 3px;
  border-radius: 5px; }

/* line 104, scss/partials/_font.scss */
.icon-4x {
  font-size: 4em; }

/* line 108, scss/partials/_font.scss */
.icon-4x.icon-border {
  border-width: 4px;
  border-radius: 6px; }

/* line 113, scss/partials/_font.scss */
.icon-5x {
  font-size: 5em; }

/* line 117, scss/partials/_font.scss */
.icon-5x.icon-border {
  border-width: 5px;
  border-radius: 7px; }

/* line 122, scss/partials/_font.scss */
.pull-right {
  float: right; }

/* line 126, scss/partials/_font.scss */
.pull-left {
  float: left; }

/* line 130, scss/partials/_font.scss */
.icon-font-awesome.pull-left {
  margin-right: .3em; }

/* line 134, scss/partials/_font.scss */
.icon-font-awesome.pull-right {
  margin-left: .3em; }

/* Animated rotating icon */
/* line 139, scss/partials/_font.scss */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  /* line 148, scss/partials/_font.scss */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 151, scss/partials/_font.scss */
  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  /* line 158, scss/partials/_font.scss */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 161, scss/partials/_font.scss */
  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  /* line 168, scss/partials/_font.scss */
  0% {
    -o-transform: rotate(0deg); }

  /* line 171, scss/partials/_font.scss */
  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  /* line 178, scss/partials/_font.scss */
  0% {
    -ms-transform: rotate(0deg); }

  /* line 181, scss/partials/_font.scss */
  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  /* line 188, scss/partials/_font.scss */
  0% {
    transform: rotate(0deg); }

  /* line 191, scss/partials/_font.scss */
  100% {
    transform: rotate(359deg); } }

/* Icon rotations and mirroring */
/* line 198, scss/partials/_font.scss */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

/* line 203, scss/partials/_font.scss */
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

/* line 208, scss/partials/_font.scss */
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

/* line 213, scss/partials/_font.scss */
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1); }

/* line 217, scss/partials/_font.scss */
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1); }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 223, scss/partials/_font.scss */
.icon-glass:before {
  content: "\f000"; }

/* line 227, scss/partials/_font.scss */
.icon-music:before {
  content: "\f001"; }

/* line 231, scss/partials/_font.scss */
.icon-search:before {
  content: "\f002"; }

/* line 235, scss/partials/_font.scss */
.icon-envelope:before {
  content: "\f003"; }

/* line 239, scss/partials/_font.scss */
.icon-heart:before {
  content: "\f004"; }

/* line 243, scss/partials/_font.scss */
.icon-star:before {
  content: "\f005"; }

/* line 247, scss/partials/_font.scss */
.icon-star-empty:before {
  content: "\f006"; }

/* line 251, scss/partials/_font.scss */
.icon-user:before {
  content: "\f007"; }

/* line 255, scss/partials/_font.scss */
.icon-film:before {
  content: "\f008"; }

/* line 259, scss/partials/_font.scss */
.icon-th-large:before {
  content: "\f009"; }

/* line 263, scss/partials/_font.scss */
.icon-th:before {
  content: "\f00a"; }

/* line 267, scss/partials/_font.scss */
.icon-th-list:before {
  content: "\f00b"; }

/* line 271, scss/partials/_font.scss */
.icon-ok:before {
  content: "\f00c"; }

/* line 275, scss/partials/_font.scss */
.icon-remove:before {
  content: "\f00d"; }

/* line 279, scss/partials/_font.scss */
.icon-zoom-in:before {
  content: "\f00e"; }

/* line 283, scss/partials/_font.scss */
.icon-zoom-out:before {
  content: "\f010"; }

/* line 287, scss/partials/_font.scss */
.icon-off:before {
  content: "\f011"; }

/* line 291, scss/partials/_font.scss */
.icon-signal:before {
  content: "\f012"; }

/* line 295, scss/partials/_font.scss */
.icon-cog:before {
  content: "\f013"; }

/* line 299, scss/partials/_font.scss */
.icon-trash:before {
  content: "\f014"; }

/* line 303, scss/partials/_font.scss */
.icon-home:before {
  content: "\f015"; }

/* line 307, scss/partials/_font.scss */
.icon-file:before {
  content: "\f016"; }

/* line 311, scss/partials/_font.scss */
.icon-time:before {
  content: "\f017"; }

/* line 315, scss/partials/_font.scss */
.icon-road:before {
  content: "\f018"; }

/* line 319, scss/partials/_font.scss */
.icon-download-alt:before {
  content: "\f019"; }

/* line 323, scss/partials/_font.scss */
.icon-download:before {
  content: "\f01a"; }

/* line 327, scss/partials/_font.scss */
.icon-upload:before {
  content: "\f01b"; }

/* line 331, scss/partials/_font.scss */
.icon-inbox:before {
  content: "\f01c"; }

/* line 335, scss/partials/_font.scss */
.icon-play-circle:before {
  content: "\f01d"; }

/* line 340, scss/partials/_font.scss */
.icon-repeat:before,
.icon-rotate-right:before {
  content: "\f01e"; }

/* F020 doesn't work in Safari. all shifted one down */
/* line 345, scss/partials/_font.scss */
.icon-refresh:before {
  content: "\f021"; }

/* line 349, scss/partials/_font.scss */
.icon-list-alt:before {
  content: "\f022"; }

/* line 353, scss/partials/_font.scss */
.icon-lock:before {
  content: "\f023"; }

/* line 357, scss/partials/_font.scss */
.icon-flag:before {
  content: "\f024"; }

/* line 361, scss/partials/_font.scss */
.icon-headphones:before {
  content: "\f025"; }

/* line 365, scss/partials/_font.scss */
.icon-volume-off:before {
  content: "\f026"; }

/* line 369, scss/partials/_font.scss */
.icon-volume-down:before {
  content: "\f027"; }

/* line 373, scss/partials/_font.scss */
.icon-volume-up:before {
  content: "\f028"; }

/* line 377, scss/partials/_font.scss */
.icon-qrcode:before {
  content: "\f029"; }

/* line 381, scss/partials/_font.scss */
.icon-barcode:before {
  content: "\f02a"; }

/* line 385, scss/partials/_font.scss */
.icon-tag:before {
  content: "\f02b"; }

/* line 389, scss/partials/_font.scss */
.icon-tags:before {
  content: "\f02c"; }

/* line 393, scss/partials/_font.scss */
.icon-book:before {
  content: "\f02d"; }

/* line 397, scss/partials/_font.scss */
.icon-bookmark:before {
  content: "\f02e"; }

/* line 401, scss/partials/_font.scss */
.icon-print:before {
  content: "\f02f"; }

/* line 405, scss/partials/_font.scss */
.icon-camera:before {
  content: "\f030"; }

/* line 409, scss/partials/_font.scss */
.icon-font:before {
  content: "\f031"; }

/* line 413, scss/partials/_font.scss */
.icon-bold:before {
  content: "\f032"; }

/* line 417, scss/partials/_font.scss */
.icon-italic:before {
  content: "\f033"; }

/* line 421, scss/partials/_font.scss */
.icon-text-height:before {
  content: "\f034"; }

/* line 425, scss/partials/_font.scss */
.icon-text-width:before {
  content: "\f035"; }

/* line 429, scss/partials/_font.scss */
.icon-align-left:before {
  content: "\f036"; }

/* line 433, scss/partials/_font.scss */
.icon-align-center:before {
  content: "\f037"; }

/* line 437, scss/partials/_font.scss */
.icon-align-right:before {
  content: "\f038"; }

/* line 441, scss/partials/_font.scss */
.icon-align-justify:before {
  content: "\f039"; }

/* line 445, scss/partials/_font.scss */
.icon-list:before {
  content: "\f03a"; }

/* line 449, scss/partials/_font.scss */
.icon-indent-left:before {
  content: "\f03b"; }

/* line 453, scss/partials/_font.scss */
.icon-indent-right:before {
  content: "\f03c"; }

/* line 457, scss/partials/_font.scss */
.icon-facetime-video:before {
  content: "\f03d"; }

/* line 461, scss/partials/_font.scss */
.icon-picture:before {
  content: "\f03e"; }

/* line 465, scss/partials/_font.scss */
.icon-pencil:before {
  content: "\f040"; }

/* line 469, scss/partials/_font.scss */
.icon-map-marker:before {
  content: "\f041"; }

/* line 473, scss/partials/_font.scss */
.icon-adjust:before {
  content: "\f042"; }

/* line 477, scss/partials/_font.scss */
.icon-tint:before {
  content: "\f043"; }

/* line 481, scss/partials/_font.scss */
.icon-edit:before {
  content: "\f044"; }

/* line 485, scss/partials/_font.scss */
.icon-share:before {
  content: "\f045"; }

/* line 489, scss/partials/_font.scss */
.icon-check:before {
  content: "\f046"; }

/* line 493, scss/partials/_font.scss */
.icon-move:before {
  content: "\f047"; }

/* line 497, scss/partials/_font.scss */
.icon-step-backward:before {
  content: "\f048"; }

/* line 501, scss/partials/_font.scss */
.icon-fast-backward:before {
  content: "\f049"; }

/* line 505, scss/partials/_font.scss */
.icon-backward:before {
  content: "\f04a"; }

/* line 509, scss/partials/_font.scss */
.icon-play:before {
  content: "\f04b"; }

/* line 513, scss/partials/_font.scss */
.icon-pause:before {
  content: "\f04c"; }

/* line 517, scss/partials/_font.scss */
.icon-stop:before {
  content: "\f04d"; }

/* line 521, scss/partials/_font.scss */
.icon-forward:before {
  content: "\f04e"; }

/* line 525, scss/partials/_font.scss */
.icon-fast-forward:before {
  content: "\f050"; }

/* line 529, scss/partials/_font.scss */
.icon-step-forward:before {
  content: "\f051"; }

/* line 533, scss/partials/_font.scss */
.icon-eject:before {
  content: "\f052"; }

/* line 537, scss/partials/_font.scss */
.icon-chevron-left:before {
  content: "\f053"; }

/* line 541, scss/partials/_font.scss */
.icon-chevron-right:before {
  content: "\f054"; }

/* line 545, scss/partials/_font.scss */
.icon-plus-sign:before {
  content: "\f055"; }

/* line 549, scss/partials/_font.scss */
.icon-minus-sign:before {
  content: "\f056"; }

/* line 553, scss/partials/_font.scss */
.icon-remove-sign:before {
  content: "\f057"; }

/* line 557, scss/partials/_font.scss */
.icon-ok-sign:before {
  content: "\f058"; }

/* line 561, scss/partials/_font.scss */
.icon-question-sign:before {
  content: "\f059"; }

/* line 565, scss/partials/_font.scss */
.icon-info-sign:before {
  content: "\f05a"; }

/* line 569, scss/partials/_font.scss */
.icon-screenshot:before {
  content: "\f05b"; }

/* line 573, scss/partials/_font.scss */
.icon-remove-circle:before {
  content: "\f05c"; }

/* line 577, scss/partials/_font.scss */
.icon-ok-circle:before {
  content: "\f05d"; }

/* line 581, scss/partials/_font.scss */
.icon-ban-circle:before {
  content: "\f05e"; }

/* line 585, scss/partials/_font.scss */
.icon-arrow-left:before {
  content: "\f060"; }

/* line 589, scss/partials/_font.scss */
.icon-arrow-right:before {
  content: "\f061"; }

/* line 593, scss/partials/_font.scss */
.icon-arrow-up:before {
  content: "\f062"; }

/* line 597, scss/partials/_font.scss */
.icon-arrow-down:before {
  content: "\f063"; }

/* line 602, scss/partials/_font.scss */
.icon-share-alt:before,
.icon-mail-forward:before {
  content: "\f064"; }

/* line 606, scss/partials/_font.scss */
.icon-resize-full:before {
  content: "\f065"; }

/* line 610, scss/partials/_font.scss */
.icon-resize-small:before {
  content: "\f066"; }

/* line 614, scss/partials/_font.scss */
.icon-plus:before {
  content: "\f067"; }

/* line 618, scss/partials/_font.scss */
.icon-minus:before {
  content: "\f068"; }

/* line 622, scss/partials/_font.scss */
.icon-asterisk:before {
  content: "\f069"; }

/* line 626, scss/partials/_font.scss */
.icon-exclamation-sign:before {
  content: "\f06a"; }

/* line 630, scss/partials/_font.scss */
.icon-gift:before {
  content: "\f06b"; }

/* line 634, scss/partials/_font.scss */
.icon-leaf:before {
  content: "\f06c"; }

/* line 638, scss/partials/_font.scss */
.icon-fire:before {
  content: "\f06d"; }

/* line 642, scss/partials/_font.scss */
.icon-eye-open:before {
  content: "\f06e"; }

/* line 646, scss/partials/_font.scss */
.icon-eye-close:before {
  content: "\f070"; }

/* line 650, scss/partials/_font.scss */
.icon-warning-sign:before {
  content: "\f071"; }

/* line 654, scss/partials/_font.scss */
.icon-plane:before {
  content: "\f072"; }

/* line 658, scss/partials/_font.scss */
.icon-calendar:before {
  content: "\f073"; }

/* line 662, scss/partials/_font.scss */
.icon-random:before {
  content: "\f074"; }

/* line 666, scss/partials/_font.scss */
.icon-comment:before {
  content: "\f075"; }

/* line 670, scss/partials/_font.scss */
.icon-magnet:before {
  content: "\f076"; }

/* line 674, scss/partials/_font.scss */
.icon-chevron-up:before {
  content: "\f077"; }

/* line 678, scss/partials/_font.scss */
.icon-chevron-down:before {
  content: "\f078"; }

/* line 682, scss/partials/_font.scss */
.icon-retweet:before {
  content: "\f079"; }

/* line 686, scss/partials/_font.scss */
.icon-shopping-cart:before {
  content: "\f07a"; }

/* line 690, scss/partials/_font.scss */
.icon-folder-close:before {
  content: "\f07b"; }

/* line 694, scss/partials/_font.scss */
.icon-folder-open:before {
  content: "\f07c"; }

/* line 698, scss/partials/_font.scss */
.icon-resize-vertical:before {
  content: "\f07d"; }

/* line 702, scss/partials/_font.scss */
.icon-resize-horizontal:before {
  content: "\f07e"; }

/* line 706, scss/partials/_font.scss */
.icon-bar-chart:before {
  content: "\f080"; }

/* line 710, scss/partials/_font.scss */
.icon-twitter-sign:before {
  content: "\f081"; }

/* line 714, scss/partials/_font.scss */
.icon-facebook-sign:before {
  content: "\f082"; }

/* line 718, scss/partials/_font.scss */
.icon-camera-retro:before {
  content: "\f083"; }

/* line 722, scss/partials/_font.scss */
.icon-key:before {
  content: "\f084"; }

/* line 726, scss/partials/_font.scss */
.icon-cogs:before {
  content: "\f085"; }

/* line 730, scss/partials/_font.scss */
.icon-comments:before {
  content: "\f086"; }

/* line 734, scss/partials/_font.scss */
.icon-thumbs-up:before {
  content: "\f087"; }

/* line 738, scss/partials/_font.scss */
.icon-thumbs-down:before {
  content: "\f088"; }

/* line 742, scss/partials/_font.scss */
.icon-star-half:before {
  content: "\f089"; }

/* line 746, scss/partials/_font.scss */
.icon-heart-empty:before {
  content: "\f08a"; }

/* line 750, scss/partials/_font.scss */
.icon-signout:before {
  content: "\f08b"; }

/* line 754, scss/partials/_font.scss */
.icon-linkedin-sign:before {
  content: "\f08c"; }

/* line 758, scss/partials/_font.scss */
.icon-pushpin:before {
  content: "\f08d"; }

/* line 762, scss/partials/_font.scss */
.icon-external-link:before {
  content: "\f08e"; }

/* line 766, scss/partials/_font.scss */
.icon-signin:before {
  content: "\f090"; }

/* line 770, scss/partials/_font.scss */
.icon-trophy:before {
  content: "\f091"; }

/* line 774, scss/partials/_font.scss */
.icon-github-sign:before {
  content: "\f092"; }

/* line 778, scss/partials/_font.scss */
.icon-upload-alt:before {
  content: "\f093"; }

/* line 782, scss/partials/_font.scss */
.icon-lemon:before {
  content: "\f094"; }

/* line 786, scss/partials/_font.scss */
.icon-phone:before {
  content: "\f095"; }

/* line 790, scss/partials/_font.scss */
.icon-check-empty:before {
  content: "\f096"; }

/* line 794, scss/partials/_font.scss */
.icon-bookmark-empty:before {
  content: "\f097"; }

/* line 798, scss/partials/_font.scss */
.icon-phone-sign:before {
  content: "\f098"; }

/* line 802, scss/partials/_font.scss */
.icon-twitter:before {
  content: "\f099"; }

/* line 806, scss/partials/_font.scss */
.icon-facebook:before {
  content: "\f09a"; }

/* line 810, scss/partials/_font.scss */
.icon-github:before {
  content: "\f09b"; }

/* line 814, scss/partials/_font.scss */
.icon-unlock:before {
  content: "\f09c"; }

/* line 818, scss/partials/_font.scss */
.icon-credit-card:before {
  content: "\f09d"; }

/* line 822, scss/partials/_font.scss */
.icon-rss:before {
  content: "\f09e"; }

/* line 826, scss/partials/_font.scss */
.icon-hdd:before {
  content: "\f0a0"; }

/* line 830, scss/partials/_font.scss */
.icon-bullhorn:before {
  content: "\f0a1"; }

/* line 834, scss/partials/_font.scss */
.icon-bell:before {
  content: "\f0a2"; }

/* line 838, scss/partials/_font.scss */
.icon-certificate:before {
  content: "\f0a3"; }

/* line 842, scss/partials/_font.scss */
.icon-hand-right:before {
  content: "\f0a4"; }

/* line 846, scss/partials/_font.scss */
.icon-hand-left:before {
  content: "\f0a5"; }

/* line 850, scss/partials/_font.scss */
.icon-hand-up:before {
  content: "\f0a6"; }

/* line 854, scss/partials/_font.scss */
.icon-hand-down:before {
  content: "\f0a7"; }

/* line 858, scss/partials/_font.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8"; }

/* line 862, scss/partials/_font.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9"; }

/* line 866, scss/partials/_font.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa"; }

/* line 870, scss/partials/_font.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab"; }

/* line 874, scss/partials/_font.scss */
.icon-globe:before {
  content: "\f0ac"; }

/* line 878, scss/partials/_font.scss */
.icon-wrench:before {
  content: "\f0ad"; }

/* line 882, scss/partials/_font.scss */
.icon-tasks:before {
  content: "\f0ae"; }

/* line 886, scss/partials/_font.scss */
.icon-filter:before {
  content: "\f0b0"; }

/* line 890, scss/partials/_font.scss */
.icon-briefcase:before {
  content: "\f0b1"; }

/* line 894, scss/partials/_font.scss */
.icon-fullscreen:before {
  content: "\f0b2"; }

/* line 898, scss/partials/_font.scss */
.icon-group:before {
  content: "\f0c0"; }

/* line 902, scss/partials/_font.scss */
.icon-link:before {
  content: "\f0c1"; }

/* line 906, scss/partials/_font.scss */
.icon-cloud:before {
  content: "\f0c2"; }

/* line 910, scss/partials/_font.scss */
.icon-beaker:before {
  content: "\f0c3"; }

/* line 914, scss/partials/_font.scss */
.icon-cut:before {
  content: "\f0c4"; }

/* line 918, scss/partials/_font.scss */
.icon-copy:before {
  content: "\f0c5"; }

/* line 922, scss/partials/_font.scss */
.icon-paper-clip:before {
  content: "\f0c6"; }

/* line 926, scss/partials/_font.scss */
.icon-save:before {
  content: "\f0c7"; }

/* line 930, scss/partials/_font.scss */
.icon-sign-blank:before {
  content: "\f0c8"; }

/* line 934, scss/partials/_font.scss */
.icon-reorder:before {
  content: "\f0c9"; }

/* line 938, scss/partials/_font.scss */
.icon-list-ul:before {
  content: "\f0ca"; }

/* line 942, scss/partials/_font.scss */
.icon-list-ol:before {
  content: "\f0cb"; }

/* line 946, scss/partials/_font.scss */
.icon-strikethrough:before {
  content: "\f0cc"; }

/* line 950, scss/partials/_font.scss */
.icon-underline:before {
  content: "\f0cd"; }

/* line 954, scss/partials/_font.scss */
.icon-table:before {
  content: "\f0ce"; }

/* line 958, scss/partials/_font.scss */
.icon-magic:before {
  content: "\f0d0"; }

/* line 962, scss/partials/_font.scss */
.icon-truck:before {
  content: "\f0d1"; }

/* line 966, scss/partials/_font.scss */
.icon-pinterest:before {
  content: "\f0d2"; }

/* line 970, scss/partials/_font.scss */
.icon-pinterest-sign:before {
  content: "\f0d3"; }

/* line 974, scss/partials/_font.scss */
.icon-google-plus-sign:before {
  content: "\f0d4"; }

/* line 978, scss/partials/_font.scss */
.icon-google-plus:before {
  content: "\f0d5"; }

/* line 982, scss/partials/_font.scss */
.icon-money:before {
  content: "\f0d6"; }

/* line 986, scss/partials/_font.scss */
.icon-caret-down:before {
  content: "\f0d7"; }

/* line 990, scss/partials/_font.scss */
.icon-caret-up:before {
  content: "\f0d8"; }

/* line 994, scss/partials/_font.scss */
.icon-caret-left:before {
  content: "\f0d9"; }

/* line 998, scss/partials/_font.scss */
.icon-caret-right:before {
  content: "\f0da"; }

/* line 1002, scss/partials/_font.scss */
.icon-columns:before {
  content: "\f0db"; }

/* line 1006, scss/partials/_font.scss */
.icon-sort:before {
  content: "\f0dc"; }

/* line 1010, scss/partials/_font.scss */
.icon-sort-down:before {
  content: "\f0dd"; }

/* line 1014, scss/partials/_font.scss */
.icon-sort-up:before {
  content: "\f0de"; }

/* line 1018, scss/partials/_font.scss */
.icon-envelope-alt:before {
  content: "\f0e0"; }

/* line 1022, scss/partials/_font.scss */
.icon-linkedin:before {
  content: "\f0e1"; }

/* line 1027, scss/partials/_font.scss */
.icon-undo:before,
.icon-rotate-left:before {
  content: "\f0e2"; }

/* line 1031, scss/partials/_font.scss */
.icon-legal:before {
  content: "\f0e3"; }

/* line 1035, scss/partials/_font.scss */
.icon-dashboard:before {
  content: "\f0e4"; }

/* line 1039, scss/partials/_font.scss */
.icon-comment-alt:before {
  content: "\f0e5"; }

/* line 1043, scss/partials/_font.scss */
.icon-comments-alt:before {
  content: "\f0e6"; }

/* line 1047, scss/partials/_font.scss */
.icon-bolt:before {
  content: "\f0e7"; }

/* line 1051, scss/partials/_font.scss */
.icon-sitemap:before {
  content: "\f0e8"; }

/* line 1055, scss/partials/_font.scss */
.icon-umbrella:before {
  content: "\f0e9"; }

/* line 1059, scss/partials/_font.scss */
.icon-paste:before {
  content: "\f0ea"; }

/* line 1063, scss/partials/_font.scss */
.icon-lightbulb:before {
  content: "\f0eb"; }

/* line 1067, scss/partials/_font.scss */
.icon-exchange:before {
  content: "\f0ec"; }

/* line 1071, scss/partials/_font.scss */
.icon-cloud-download:before {
  content: "\f0ed"; }

/* line 1075, scss/partials/_font.scss */
.icon-cloud-upload:before {
  content: "\f0ee"; }

/* line 1079, scss/partials/_font.scss */
.icon-user-md:before {
  content: "\f0f0"; }

/* line 1083, scss/partials/_font.scss */
.icon-stethoscope:before {
  content: "\f0f1"; }

/* line 1087, scss/partials/_font.scss */
.icon-suitcase:before {
  content: "\f0f2"; }

/* line 1091, scss/partials/_font.scss */
.icon-bell-alt:before {
  content: "\f0f3"; }

/* line 1095, scss/partials/_font.scss */
.icon-coffee:before {
  content: "\f0f4"; }

/* line 1099, scss/partials/_font.scss */
.icon-food:before {
  content: "\f0f5"; }

/* line 1103, scss/partials/_font.scss */
.icon-file-alt:before {
  content: "\f0f6"; }

/* line 1107, scss/partials/_font.scss */
.icon-building:before {
  content: "\f0f7"; }

/* line 1111, scss/partials/_font.scss */
.icon-hospital:before {
  content: "\f0f8"; }

/* line 1115, scss/partials/_font.scss */
.icon-ambulance:before {
  content: "\f0f9"; }

/* line 1119, scss/partials/_font.scss */
.icon-medkit:before {
  content: "\f0fa"; }

/* line 1123, scss/partials/_font.scss */
.icon-fighter-jet:before {
  content: "\f0fb"; }

/* line 1127, scss/partials/_font.scss */
.icon-beer:before {
  content: "\f0fc"; }

/* line 1131, scss/partials/_font.scss */
.icon-h-sign:before {
  content: "\f0fd"; }

/* line 1135, scss/partials/_font.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe"; }

/* line 1139, scss/partials/_font.scss */
.icon-double-angle-left:before {
  content: "\f100"; }

/* line 1143, scss/partials/_font.scss */
.icon-double-angle-right:before {
  content: "\f101"; }

/* line 1147, scss/partials/_font.scss */
.icon-double-angle-up:before {
  content: "\f102"; }

/* line 1151, scss/partials/_font.scss */
.icon-double-angle-down:before {
  content: "\f103"; }

/* line 1155, scss/partials/_font.scss */
.icon-angle-left:before {
  content: "\f104"; }

/* line 1159, scss/partials/_font.scss */
.icon-angle-right:before {
  content: "\f105"; }

/* line 1163, scss/partials/_font.scss */
.icon-angle-up:before {
  content: "\f106"; }

/* line 1167, scss/partials/_font.scss */
.icon-angle-down:before {
  content: "\f107"; }

/* line 1171, scss/partials/_font.scss */
.icon-desktop:before {
  content: "\f108"; }

/* line 1175, scss/partials/_font.scss */
.icon-laptop:before {
  content: "\f109"; }

/* line 1179, scss/partials/_font.scss */
.icon-tablet:before {
  content: "\f10a"; }

/* line 1183, scss/partials/_font.scss */
.icon-mobile-phone:before {
  content: "\f10b"; }

/* line 1187, scss/partials/_font.scss */
.icon-circle-blank:before {
  content: "\f10c"; }

/* line 1191, scss/partials/_font.scss */
.icon-quote-left:before {
  content: "\f10d"; }

/* line 1195, scss/partials/_font.scss */
.icon-quote-right:before {
  content: "\f10e"; }

/* line 1199, scss/partials/_font.scss */
.icon-spinner:before {
  content: "\f110"; }

/* line 1203, scss/partials/_font.scss */
.icon-circle:before {
  content: "\f111"; }

/* line 1208, scss/partials/_font.scss */
.icon-reply:before,
.icon-mail-reply:before {
  content: "\f112"; }

/* line 1212, scss/partials/_font.scss */
.icon-folder-close-alt:before {
  content: "\f114"; }

/* line 1216, scss/partials/_font.scss */
.icon-folder-open-alt:before {
  content: "\f115"; }

/* line 1220, scss/partials/_font.scss */
.icon-expand-alt:before {
  content: "\f116"; }

/* line 1224, scss/partials/_font.scss */
.icon-collapse-alt:before {
  content: "\f117"; }

/* line 1228, scss/partials/_font.scss */
.icon-smile:before {
  content: "\f118"; }

/* line 1232, scss/partials/_font.scss */
.icon-frown:before {
  content: "\f119"; }

/* line 1236, scss/partials/_font.scss */
.icon-meh:before {
  content: "\f11a"; }

/* line 1240, scss/partials/_font.scss */
.icon-gamepad:before {
  content: "\f11b"; }

/* line 1244, scss/partials/_font.scss */
.icon-keyboard:before {
  content: "\f11c"; }

/* line 1248, scss/partials/_font.scss */
.icon-flag-alt:before {
  content: "\f11d"; }

/* line 1252, scss/partials/_font.scss */
.icon-flag-checkered:before {
  content: "\f11e"; }

/* line 1256, scss/partials/_font.scss */
.icon-terminal:before {
  content: "\f120"; }

/* line 1260, scss/partials/_font.scss */
.icon-code:before {
  content: "\f121"; }

/* line 1264, scss/partials/_font.scss */
.icon-reply-all:before {
  content: "\f122"; }

/* line 1268, scss/partials/_font.scss */
.icon-mail-reply-all:before {
  content: "\f122"; }

/* line 1273, scss/partials/_font.scss */
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123"; }

/* line 1277, scss/partials/_font.scss */
.icon-location-arrow:before {
  content: "\f124"; }

/* line 1281, scss/partials/_font.scss */
.icon-crop:before {
  content: "\f125"; }

/* line 1285, scss/partials/_font.scss */
.icon-code-fork:before {
  content: "\f126"; }

/* line 1289, scss/partials/_font.scss */
.icon-unlink:before {
  content: "\f127"; }

/* line 1293, scss/partials/_font.scss */
.icon-question:before {
  content: "\f128"; }

/* line 1297, scss/partials/_font.scss */
.icon-info:before {
  content: "\f129"; }

/* line 1301, scss/partials/_font.scss */
.icon-exclamation:before {
  content: "\f12a"; }

/* line 1305, scss/partials/_font.scss */
.icon-superscript:before {
  content: "\f12b"; }

/* line 1309, scss/partials/_font.scss */
.icon-subscript:before {
  content: "\f12c"; }

/* line 1313, scss/partials/_font.scss */
.icon-eraser:before {
  content: "\f12d"; }

/* line 1317, scss/partials/_font.scss */
.icon-puzzle-piece:before {
  content: "\f12e"; }

/* line 1321, scss/partials/_font.scss */
.icon-microphone:before {
  content: "\f130"; }

/* line 1325, scss/partials/_font.scss */
.icon-microphone-off:before {
  content: "\f131"; }

/* line 1329, scss/partials/_font.scss */
.icon-shield:before {
  content: "\f132"; }

/* line 1333, scss/partials/_font.scss */
.icon-calendar-empty:before {
  content: "\f133"; }

/* line 1337, scss/partials/_font.scss */
.icon-fire-extinguisher:before {
  content: "\f134"; }

/* line 1341, scss/partials/_font.scss */
.icon-rocket:before {
  content: "\f135"; }

/* line 1345, scss/partials/_font.scss */
.icon-maxcdn:before {
  content: "\f136"; }

/* line 1349, scss/partials/_font.scss */
.icon-chevron-sign-left:before {
  content: "\f137"; }

/* line 1353, scss/partials/_font.scss */
.icon-chevron-sign-right:before {
  content: "\f138"; }

/* line 1357, scss/partials/_font.scss */
.icon-chevron-sign-up:before {
  content: "\f139"; }

/* line 1361, scss/partials/_font.scss */
.icon-chevron-sign-down:before {
  content: "\f13a"; }

/* line 1365, scss/partials/_font.scss */
.icon-html5:before {
  content: "\f13b"; }

/* line 1369, scss/partials/_font.scss */
.icon-css3:before {
  content: "\f13c"; }

/* line 1373, scss/partials/_font.scss */
.icon-anchor:before {
  content: "\f13d"; }

/* line 1377, scss/partials/_font.scss */
.icon-unlock-alt:before {
  content: "\f13e"; }

/* line 1381, scss/partials/_font.scss */
.icon-bullseye:before {
  content: "\f140"; }

/* line 1385, scss/partials/_font.scss */
.icon-ellipsis-horizontal:before {
  content: "\f141"; }

/* line 1389, scss/partials/_font.scss */
.icon-ellipsis-vertical:before {
  content: "\f142"; }

/* line 1393, scss/partials/_font.scss */
.icon-rss-sign:before {
  content: "\f143"; }

/* line 1397, scss/partials/_font.scss */
.icon-play-sign:before {
  content: "\f144"; }

/* line 1401, scss/partials/_font.scss */
.icon-ticket:before {
  content: "\f145"; }

/* line 1405, scss/partials/_font.scss */
.icon-minus-sign-alt:before {
  content: "\f146"; }

/* line 1409, scss/partials/_font.scss */
.icon-check-minus:before {
  content: "\f147"; }

/* line 1413, scss/partials/_font.scss */
.icon-level-up:before {
  content: "\f148"; }

/* line 1417, scss/partials/_font.scss */
.icon-level-down:before {
  content: "\f149"; }

/* line 1421, scss/partials/_font.scss */
.icon-check-sign:before {
  content: "\f14a"; }

/* line 1425, scss/partials/_font.scss */
.icon-edit-sign:before {
  content: "\f14b"; }

/* line 1429, scss/partials/_font.scss */
.icon-external-link-sign:before {
  content: "\f14c"; }

/* line 1433, scss/partials/_font.scss */
.icon-share-sign:before {
  content: "\f14d"; }

/* line 74, icons/*.png */
.icons-sprite, .icon-cart, .icon-facebook, .icon-google, .icon-twitter, .icon-check {
  background: url('images/icons-s2275f49fda.png') no-repeat; }

/* line 3, scss/partials/_icons.scss */
.icon-cart {
  background-position: 0 -90px; }

/* line 7, scss/partials/_icons.scss */
.icon-share {
  display: inline-block;
  width: 24px;
  height: 24px; }

/* line 13, scss/partials/_icons.scss */
.icon-facebook {
  background-position: 0 -24px; }

/* line 17, scss/partials/_icons.scss */
.icon-google {
  background-position: 0 -48px; }

/* line 21, scss/partials/_icons.scss */
.icon-twitter {
  background-position: 0 0; }

/* line 25, scss/partials/_icons.scss */
.icon-check {
  background-position: 0 -72px; }

/*rectangule button*/
/* line 10, scss/partials/_buttons.scss */
.btn-rectangule {
  color: #fff;
  /* text color */
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px; }

/*Rose  btn*/
/* line 25, scss/partials/_buttons.scss */
.btn-rect-stl1 {
  background-color: #cb114f;
  border: solid 1px #cb114f; }

/* line 30, scss/partials/_buttons.scss */
.btn-rect-stl1-1 {
  border-color: #cb114f;
  background-color: transparent;
  color: #cb114f; }

/*Dark green btn*/
/* line 37, scss/partials/_buttons.scss */
.btn-rect-stl2 {
  background-color: #15979d;
  border: solid 1px #15979d; }

/* line 42, scss/partials/_buttons.scss */
.btn-rect-stl2-1 {
  border-color: #15979d;
  background-color: transparent;
  color: #15979d; }

/*Purple btn*/
/* line 49, scss/partials/_buttons.scss */
.btn-rect-stl3 {
  background-color: #493369;
  border: solid 1px #493369; }

/* line 54, scss/partials/_buttons.scss */
.btn-rect-stl3-1 {
  border-color: #493369;
  background-color: transparent;
  color: #493369; }

/*Yellow btn*/
/* line 61, scss/partials/_buttons.scss */
.btn-rect-stl4 {
  background-color: #e5c181;
  border: solid 1px #e5c181; }

/* line 66, scss/partials/_buttons.scss */
.btn-rect-stl4-1 {
  border-color: #e5c181;
  background-color: transparent;
  color: #e5c181; }

/*Red btn*/
/* line 73, scss/partials/_buttons.scss */
.btn-rect-stl5 {
  background-color: #c12325;
  border: solid 1px #c12325; }

/* line 78, scss/partials/_buttons.scss */
.btn-rect-stl5-1 {
  border-color: #c12325;
  background-color: transparent;
  color: #c12325; }

/*Blue btn*/
/* line 85, scss/partials/_buttons.scss */
.btn-rect-stl6 {
  background-color: #29639b;
  border: solid 1px #29639b; }

/* line 90, scss/partials/_buttons.scss */
.btn-rect-stl6-1 {
  border-color: #29639b;
  background-color: transparent;
  color: #29639b; }

/*White btn*/
/* line 97, scss/partials/_buttons.scss */
.btn-rect-stl7-1 {
  border: solid 1px white;
  background-color: transparent;
  color: white; }

/*round button*/
/* line 104, scss/partials/_buttons.scss */
.btn-round {
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  font-family: "Montserrat";
  font-size: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center; }

/* line 118, scss/partials/_buttons.scss */
.btn-round50 {
  width: 100px;
  height: 100px;
  line-height: 100px; }

/* line 124, scss/partials/_buttons.scss */
.btn-round80 {
  width: 160px;
  height: 160px;
  line-height: 160px; }

/*Rose btn*/
/* line 131, scss/partials/_buttons.scss */
.btn-round-stl1 {
  background-color: #cb1d59; }

/*Dark green btn*/
/* line 136, scss/partials/_buttons.scss */
.btn-round-stl2 {
  background-color: #15979d; }

/*Purple btn*/
/* line 141, scss/partials/_buttons.scss */
.btn-round-stl3 {
  background-color: #493369; }

/*Yellow btn*/
/* line 146, scss/partials/_buttons.scss */
.btn-round-stl4 {
  background-color: #e5c181; }

/*Red btn*/
/* line 151, scss/partials/_buttons.scss */
.btn-round-stl5 {
  background-color: #c12325; }

/*Blue btn*/
/* line 156, scss/partials/_buttons.scss */
.btn-round-stl6 {
  background-color: #29639b; }

/* line 1, scss/partials/_form.scss */
input[type="radio"], input[type="checkbox"] {
  margin: 0;
  line-height: normal; }

/* line 6, scss/partials/_form.scss */
select, input[type="text"], input[type="password"], textarea {
  display: inline-block;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Arial';
  font-size: 14px;
  vertical-align: middle;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px; }

/* line 20, scss/partials/_form.scss */
input[type="text"], input[type="password"] {
  width: 100%;
  text-overflow: ellipsis; }

/* line 25, scss/partials/_form.scss */
textarea {
  overflow: auto;
  resize: none;
  width: 100%; }

/* line 31, scss/partials/_form.scss */
table {
  width: 100%;
  border-collapse: collapse; }

/* line 35, scss/partials/_form.scss */
.request, .error {
  color: #d1232a;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px; }

/* line 41, scss/partials/_form.scss */
.error {
  margin-bottom: 10px; }

/* line 45, scss/partials/_form.scss */
.form {
  opacity: .8;
  /* layer alpha */
  color: #000;
  /* text color */
  font-family: "Helvetica";
  font-size: 12px; }
  /* line 50, scss/partials/_form.scss */
  .form input[type="text"], .form input[type="password"] {
    height: 40px;
    line-height: 40px; }
  /* line 54, scss/partials/_form.scss */
  .form textarea {
    height: 183px; }
  /* line 57, scss/partials/_form.scss */
  .form .contact-tab th {
    vertical-align: top;
    width: 18%;
    padding-top: 10px; }

/* line 1, scss/partials/_components.scss */
.text-right {
  text-align: right; }

/* line 6, scss/partials/_components.scss */
.five-box li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: #000;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; }
  /* line 11, scss/partials/_components.scss */
  .five-box li .title-five-box {
    display: block;
    border: solid 1px #ebebeb;
    padding: 10px;
    margin-bottom: 3px; }
    /* line 16, scss/partials/_components.scss */
    .five-box li .title-five-box .icon-plus, .five-box li .title-five-box .icon-minus {
      color: #cb1e5a;
      margin-right: 10px; }
  /* line 21, scss/partials/_components.scss */
  .five-box li .title-FB-hover {
    font-weight: bold; }
  /* line 24, scss/partials/_components.scss */
  .five-box li .content-five-box {
    display: none;
    font-style: oblique;
    padding: 20px 35px;
    line-height: 24px; }

/* line 34, scss/partials/_components.scss */
.pagination a, .pagination span {
  display: inline-block;
  padding: 4px 6px;
  border: solid 1px #ebebeb;
  color: #ebebeb;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold; }
/* line 43, scss/partials/_components.scss */
.pagination a {
  cursor: pointer;
  text-decoration: none; }
  /* line 46, scss/partials/_components.scss */
  .pagination a:hover {
    border-color: #cb1150;
    color: #cb1150; }
/* line 51, scss/partials/_components.scss */
.pagination .current {
  border-color: #cb1150;
  color: #cb1150; }

/* line 1, scss/partials/_widgets.scss */
.wgt-logo {
  display: inline-block;
  background: url(images/logo.png);
  float: left;
  margin-top: 12px; }
  /* line 6, scss/partials/_widgets.scss */
  .wgt-logo h1 {
    display: inline-block; }
  /* line 7, scss/partials/_widgets.scss */
  .wgt-logo a {
    display: inline-block;
    width: 101px;
    height: 56px; }

/* line 3, scss/partials/_widgetsQY.scss */
.contact-rgt .wgt-subscribe {
  margin-top: 113px; }

/* line 7, scss/partials/_widgetsQY.scss */
.widget-box {
  background-color: #cb1e5a;
  color: #fff;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 20px 10px;
  line-height: 18px;
  margin-bottom: 30px; }
  /* line 15, scss/partials/_widgetsQY.scss */
  .widget-box .widget-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }
  /* line 20, scss/partials/_widgetsQY.scss */
  .widget-box .content {
    margin-bottom: 25px; }
  /* line 23, scss/partials/_widgetsQY.scss */
  .widget-box .search-block {
    position: relative; }
    /* line 25, scss/partials/_widgetsQY.scss */
    .widget-box .search-block input[type="text"] {
      height: 42px;
      border-color: transparent;
      background-color: #fff; }
    /* line 30, scss/partials/_widgetsQY.scss */
    .widget-box .search-block .search-btn {
      position: absolute;
      background-color: rgba(203, 29, 89, 0.5);
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 42px;
      top: 1px;
      right: 1px;
      text-decoration: none;
      text-align: center;
      color: #cb1e5a; }

/* line 46, scss/partials/_widgetsQY.scss */
.wgt-side-contact {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #6a6a6a;
  line-height: 18px; }
  /* line 51, scss/partials/_widgetsQY.scss */
  .wgt-side-contact h3 {
    font-weight: bold;
    color: #cb1e59;
    font-size: 14px; }
  /* line 56, scss/partials/_widgetsQY.scss */
  .wgt-side-contact .address {
    margin-bottom: 25px; }
  /* line 59, scss/partials/_widgetsQY.scss */
  .wgt-side-contact a {
    color: #cb1e5a;
    text-decoration: underline; }

/****/
/* line 3, scss/partials/_page.scss */
.page-home .header, .page-home .footer {
  background-color: #cb1150; }

/* line 7, scss/partials/_page.scss */
.page-title {
  color: #cb1e59;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px; }

/* line 14, scss/partials/_page.scss */
.page-brief {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 18px;
  margin-bottom: 40px; }

/*
####################################

responsive

####################################
*/
