<div class="wgt-faq">
    <ul class="five-box">
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum? </strong>
                </p>
                <div class="content-five-box">content1</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                </p>
                <div class="content-five-box">content2</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Curabitur nibh sapien, lacinia nec viverra nec, condimentum ac est. Nulla porttitor justo augue, et auctor libero?</strong>
                </p>
                <div class="content-five-box">content3</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Deze vraag is aangeklikt en daardoor opgevouwen.</strong>
                </p>
                <div class="content-five-box">Pellentesque adipiscing felis at interdum mattis. Pellentesque nisl odio, aliquet a leo vel, volutpat volutpat enim. 
Nulla facilisi. Mauris convallis vulputate justo non adipiscing. Nulla eget blandit libero. Donec et pharetra mauris. 
Nam viverra nec metus posuere commodo.</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum?</strong>
                </p>
                <div class="content-five-box">content5</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                </p>
                <div class="content-five-box">content6</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>itae lobortis ipsum bibendum at?</strong>
                </p>
                <div class="content-five-box">content7</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum?</strong>
                </p>
                <div class="content-five-box">content8</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                </p>
                <div class="content-five-box">content9</div>
            </li>
            <li>
                <p class="title-five-box">
                    <span class="icon-font-awesome icon-plus"></span>
                    <strong>Curabitur nibh sapien, lacinia nec viverra nec, condimentum ac est. Nulla porttitor justo augue, et auctor libero?</strong>
                </p>
                <div class="content-five-box">content10</div>
            </li>
    </ul>
</div>