<div class="wgt-product-list">
    <ul>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>Overnachting  </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl1">€79,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl1">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product1.jpg" alt="product" /></p>
        </li>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>Sauna  </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl2">€42,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl2">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product2.jpg" alt="product" /></p>
        </li>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>Lunch  </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl3">€31,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl3">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl3 btn-rect-stl3-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product3.jpg" alt="product" /></p>
        </li>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>High Tea </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl4">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl4">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl4 btn-rect-stl4-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product4.jpg" alt="product" /></p>
        </li>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>3 gangen diner  </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl5">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl5">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product5.jpg" alt="product" /></p>
        </li>
        <li>
            <div class="list-cont">
                <div class="name">
                    <h2>Borrel &amp; hapje  </h2>
                    <p>voor 2</p>
                    <span class="btn-round btn-round-stl6">€22,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn-rect-stl6">toon locaties</a>
                    <a class="btn-rectangule btn-rect-stl6 btn-rect-stl6-1">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product6.jpg" alt="product" /></p>
        </li>
    </ul>
</div>