<div class="wgt-locatie-reserveren">
    <div class="r-inner">
        <h4 class="page-title">mijn sauna voor 2 reserveren</h4>
        <form class="form">
            <table>
                <tbody>
                    <tr>
                        <th>Giftcardnummer:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td>
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="XXXX XXXX XXXX XXXX">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>

                        </td>
                        <th class="th2">Gewenste datum:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td>
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="dag / maand / jaar" class="date_picker">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Naam:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw naam in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Adres:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw huisadres in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Postcode:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw postcode in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Plaats:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw postcode in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th>Telefoonnummer:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw postcode in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th>E-mail:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw e-mail in... copy">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th>Bevestig E-mail:
                            <span class="request">*</span>
                            <span class="error mobile">Uw naam is verplicht</span>
                        </th>
                        <td colspan="3">
                            <div class="input-out-box">
                                <input type="text" class="text-input" placeholder="Vul hier jouw e-mail nogmaals in...">
                                <p class="error pc">Uw naam is verplicht</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">nu reserveren</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
