<div class="wgt-product-list">
    <ul>
        <li class="product-list-1">
            <p class="images"><a href="#"><img src="../upload/product/product1.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">Overnachting</a></h2>
                    <p>voor 2</p>
                    <span class="btn-round">€79,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
        <li class="product-list-2">
            <p class="images"><a href="#"><img src="../upload/product/product2.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">Sauna</a></h2>
                    <p>voor 2</p>
                    <span class="btn-round">€42,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
        <li class="product-list-3">
            <p class="images"><a href="#"><img src="../upload/product/product3.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">Lunch</a></h2>
                    <p>voor 2</p>
                    <span class="btn-round">€31,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
        <li class="product-list-4">
            <p class="images"><a href="#"><img src="../upload/product/product4.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">High Tea </a></h2>
                    <p>voor 2</p>
                    <span class="btn-round">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
        <li class="product-list-5">
            <p class="images"><a href="#"><img src="../upload/product/product5.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">3 gangen diner</a>  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
        <li class="product-list-6">
            <p class="images"><a href="#"><img src="../upload/product/product6.jpg" alt="product" /></a></p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">Borrel &amp; hapje</a>  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€22,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
    </ul>
</div>