<div class="wgt-locatie-reserveren">
    <div class="r-inner">
        <h4 class="page-title">mijn sauna voor 2 reserveren</h4>
        <form class="form">
            <table>
                <tbody>
                    <tr>
                        <th>Giftcardnummer: <span class="request">*</span></th>
                        <td>
                            <p><input type="text" placeholder="XXXX XXXX XXXX XXXX" /></p>
                        </td>
                        <th class="th2">Gewenste datum: <span class="request">*</span></th>
                        <td>
                            <p><input type="text" placeholder="dag / maand / jaar" class="date_picker" /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Naam: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw naam in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Adres: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw huisadres in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Postcode: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw postcode in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Plaats: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw woonplaats in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Telefoonnummer: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw telefoonnummer in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>E-mail: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw e-mail in... copy" /></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Bevestig E-mail: <span class="request">*</span></th>
                        <td colspan="3">
                            <p><input type="text" placeholder="Vul hier jouw e-mail nogmaals in..." /></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">nu reserveren</a>
                        </td>
                    </tr>
                </tbody>  
            </table>
        </form>
    </div>
</div>