<div class="wgt-product-list-home">
    <div class="r-inner">
        <ul>
            <li class="product-type-pink active">
                <div class="inner">
                    <h5>
                        <a href="#">Overnachting voor 2Overnachting voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 79,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2 ">winkelwagen</a>
                        </div>
                    </div>
                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-1.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€79,-</a>
                </div>
            </li>
            <li class="product-type-green">
                <div class="inner">
                    <h5>
                        <a href="#">Sauna voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 42,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2">winkelwagen</a>
                        </div>
                    </div>
                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-2.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€42,-</a>
                </div>
            </li>
            <li class="product-type-purple">
                <div class="inner">
                    <h5>
                        <a href="#">Lunch voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 31,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2">winkelwagen</a>
                        </div>
                    </div>

                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-3.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€31,-</a>
                </div>
            </li>
            <li class="product-type-orange">
                <div class="inner">
                    <h5>
                        <a href="#">High Tea voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 38,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2">winkelwagen</a>
                        </div>
                    </div>

                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-4.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€38,-</a>
                </div>
            </li>
            <li class="product-type-red">
                <div class="inner">
                    <h5>
                        <a href="#">3 gangen diner voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 38,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2">winkelwagen</a>
                        </div>
                    </div>

                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-5.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€38,-</a>
                </div>
            </li>
            <li class="product-type-blue">
                <div class="inner">
                    <h5>
                        <a href="#">Borrel & hapje voor 2</a>
                    </h5>
                    <div class="con">
                        <blockquote>
                            Een overnachting inclusief ontbijt in de leukste hotels en mooiste plekjes in Nederland & België.
                        </blockquote>
                        <p class="price">€ 22,00</p>
                        <div class="btns">
                            <a class="btn-rectangule btn-1">INFO</a>
                            <a class="btn-rectangule btn-2">winkelwagen</a>
                        </div>
                    </div>

                    <div class="img">
                        <a href="#">
                            <img src="../upload/product-home/product-6.jpg" alt="">
                        </a>
                    </div>
                    <a class="btn-round btn-round50">€22,-</a>
                </div>
            </li>
        </ul>
    </div>

</div>
