<div class="wgt-mapInfoCon">
    <dl>
        <dt>Blokker wc. de polder</dt>
        <dd>
            <p>Nieuwe Grensweg 13</p>
            <p>3848 BR HARDERWIJK</p>
            <p>010 123 456 78</p>
            <p>www.blokker.nl</p>
        </dd>
    </dl>
    <dl>
        <dt>Blokker wc. de polder</dt>
        <dd>
            <p>Nieuwe Grensweg 13</p>
            <p>3848 BR HARDERWIJK</p>
            <p>010 123 456 78</p>
            <p>www.blokker.nl</p>
        </dd>
    </dl>
    <dl>
        <dt>Blokker wc. de polder</dt>
        <dd>
            <p>Nieuwe Grensweg 13</p>
            <p>3848 BR HARDERWIJK</p>
            <p>010 123 456 78</p>
            <p>www.blokker.nl</p>
        </dd>
    </dl>
    <dl>
        <dt>Blokker wc. de polder</dt>
        <dd>
            <p>Nieuwe Grensweg 13</p>
            <p>3848 BR HARDERWIJK</p>
            <p>010 123 456 78</p>
            <p>www.blokker.nl</p>
        </dd>
    </dl>
</div>