<div class="wgt-locations">
    <div class="r-inner">
        <h2>alle locaties in dit arrangement</h2>
        <div class="searchbar">
            <select name="" id="" class="flexselect" >
                <option value="1">Selecteer een provincie</option>
                <option value="2">1</option>
                <option value="3">3</option>
            </select>
            <select name="" id="" class="flexselect" >
                <option value="1">Selecteer een stad</option>
                <option value="2">Arnhem</option>
                <option value="3">Aachen</option>
            </select>
            <input type="text" class="txt" placeholder="Zoek naar een locatie...">
            <button class="btn-rectangule">zoek</button>
        </div>
        <div class="location-list">
            <ul>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <a href="#" class="img">
                            <img src="" alt="">
                        </a>
                        <div class="con">
                            <h5><a href="#">Akkermans Leisure & Golf</a>
                            </h5>
                            <p class="place">Noord-Brabant / De Heen</p>
                            <blockquote>
                                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
                            </blockquote>
                            <div class="btns">
                                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">meer info</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-opts">
            <a href="#" class="btn-rectangule">alle locaties op de kaart</a>
            <span class="list-info">
                <strong>8 / 202</strong>
                <a href="#" class="btn-rectangule btn-rect-stl5 btn-rect-stl5-1">laad volgende 8</a>
            </span>
        </div>

    </div>
    <div class="select-mask"></div>
    <div class="map">
        <img src="../upload/map/map-1.jpg" alt="">
        <span class="shadow"></span>
    </div>
</div>
