<div class="wgt-product-list">
    <ul>
        <li class="product-list-1">
            <div class="list-cont">
                <div class="name">
                    <h2>Overnachting  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€79,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product1.jpg" alt="product" /></p>
        </li>
        <li class="product-list-2">
            <div class="list-cont">
                <div class="name">
                    <h2>Sauna  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€42,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product2.jpg" alt="product" /></p>
        </li>
        <li class="product-list-3">
            <div class="list-cont">
                <div class="name">
                    <h2>Lunch  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€31,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product3.jpg" alt="product" /></p>
        </li>
        <li class="product-list-4">
            <div class="list-cont">
                <div class="name">
                    <h2>High Tea </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product4.jpg" alt="product" /></p>
        </li>
        <li class="product-list-5">
            <div class="list-cont">
                <div class="name">
                    <h2>3 gangen diner  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€38,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product5.jpg" alt="product" /></p>
        </li>
        <li class="product-list-6">
            <div class="list-cont">
                <div class="name">
                    <h2>Borrel &amp; hapje  </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€22,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
            <p class="images"><img src="../../assets/images/product/product6.jpg" alt="product" /></p>
        </li>
    </ul>
</div>