<form class="form">
    <table class="contact-tab">
        <tbody>
            <tr >
                <th>Naam:<span class="request">*</span><span class="error mobile" >Uw naam is verplicht</span></th>
                <td>
                    <div class="input-out-box">
                        <input type="text" class="text-input" />
                        <p class="error pc">Uw naam is verplicht</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Achternaam:<span class="request">*</span><span class="error mobile" >Uw naam is verplicht</span></th>
                <td>
                    <div class="input-out-box">
                        <input type="text" class="text-input" />
                        <p class="error pc">Uw naam is verplicht</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th>E-mailadres:<span class="request">*</span><span class="error mobile" >Uw naam is verplicht</span></th>
                <td>
                    <div class="input-out-box">
                        <input type="text" class="text-input" />
                        <p class="error pc">Uw naam is verplicht</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Telefoonnummer:</th>
                <td>
                    <input type="text" class="text-input" />
                    
                </td>
            </tr>
            <tr>
                <th>Onderwerp:<span class="request">*</span><span class="error mobile" >Uw naam is verplicht</span></th>
                <td>
                    <div class="input-out-box">
                        <input type="text" class="text-input" />
                        <p class="error pc">Uw naam is verplicht</p>
                    </div>
                </td>
             </tr>
            <tr>
                <th>Mijn vraag:<span class="request">*</span></th>
                <td>
                    <textarea>
                    </textarea>
                </td>
            </tr> 
            <tr>
                <th></th>
                <td class="text-right"><a class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">verzenden</a></td>
            </tr>
        </tbody>
    </table>
</form>