<div class="wgt-subscribe">
    <form class="form">        
        <table class="contact-tab">
            <tbody>
                <tr >
                    <th style="width:20%">Naam:<span class="request">*</span></th>
                    <td>
                        <input type="text" class="text-input" >
                        <p class="error">Uw naam is verplicht</p>
                    </td>
                </tr>
                <tr>
                    <th>Achternaam:<span class="request">*</span></th>
                    <td>
                        <input type="text" class="text-input" >
                        <p class="error">Uw naam is verplicht</p>
                    </td>
                </tr>
                <tr>
                    <th>E-mailadres:<span class="request">*</span></th>
                    <td>
                        <input type="text" class="text-input" >
                        <p class="error">Uw naam is verplicht</p>
                    </td>
                </tr>
                <tr>
                    <th>Telefoonnummer:</th>
                    <td>
                        <input type="text" class="text-input" >
                        
                    </td>
                </tr>
                <tr>
                    <th>Onderwerp:<span class="request">*</span></th>
                    <td>
                        <input type="text" class="text-input" >
                        <p class="error">Uw naam is verplicht</p>
                    </td>
                 </tr>
                <tr>
                    <th>Mijn vraag:<span class="request">*</span></th>
                    <td>
                        <textarea>
                        </textarea>
                    </td>
                </tr> 
            </tbody>
        </table>
        
    </form>
</div>
