<div class="wgt-slider">
    <section class="r-inner slider">
        <div class="flexslider">
            <ul class="slides slides">
                <li class="slide-1">
                    <h5><a href="#"><span>Een echte verrassing</span> <br/> met een geschenk <br/> verpakking!</a>
                    </h5>
                    <blockquote>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                    </blockquote>
                    <a href="#" class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">beleef jouw moment</a>
                    <div class="img">
                        <img src="../assets/images/slider/slider-1.jpg" />
                    </div>
                </li>
                <li class="slide-2">
                    <h5><a href="#">Een echte verrassing <br/> <span>met een geschenk <br/> verpakking!</span></a>
                    </h5>
                    <blockquote>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                    </blockquote>
                    <a href="#" class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">beleef jouw moment</a>
                    <div class="img">
                        <img src="../assets/images/slider/slider-1.jpg" />
                    </div>
                </li>
                <li class="slide-3">
                    <h5><a href="#">Een echte verrassing <br/> <span>met een geschenk <br/> verpakking!</span></a>
                    </h5>
                    <blockquote>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                    </blockquote>
                    <a href="#" class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">beleef jouw moment</a>
                    <div class="img">
                        <img src="../assets/images/slider/slider-1.jpg" />
                    </div>
                </li>
                <li class="slide-4">
                    <h5><a href="#">Een echte verrassing <br/> <span>met een geschenk <br/> verpakking!</span></a>
                    </h5>
                    <blockquote>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                    </blockquote>
                    <a href="#" class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">beleef jouw moment</a>
                    <div class="img">
                        <img src="../assets/images/slider/slider-1.jpg" />
                    </div>
                </li>
                <li class="slide-5">
                    <h5><a href="#">Een echte verrassing <br/> <span>met een geschenk <br/> verpakking!</span></a>
                    </h5>
                    <blockquote>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                    </blockquote>
                    <a href="#" class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">beleef jouw moment</a>
                    <div class="img">
                        <img src="../assets/images/slider/slider-1.jpg" />
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
