<div class="wgt-concept">
    <div class="r-inner">
        <h2>de mooiste momenten in 3 stappen</h2>
        <span class="line"></span>
        <div class="formula">
            <div class="item">
                <img src="../assets/images/steps-home/step-1.png" />
                <h6>Kies jouw Momento</h6>
            </div>
            <span class="symbol">+</span>
            <div class="item">
                <img src="../assets/images/steps-home/step-2.png" />
                <h6>Kies een verpakking</h6>
            </div>
            <span class="symbol">=</span>
            <div class="item">
                <img src="../assets/images/steps-home/step-3.png" />
                <h6>Beleef jouw moment!</h6>
            </div>
        </div>
        <div class="note">
            <p>
            Pakkende uitleg op de Homepage over wat het concept precies inhoudt; Curabitur blandit tempus porttitor.
                <br/>Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing
                <br/>elit. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo.
            </p>
        </div>
    </div>
</div>
