<div class="wgt-giftcard form">
    <table>
        <tr>
            <th>Giftcardnummer:</th>
            <td>
                <div class="input-out-box">
                    <input type="text" placeholder="Giftcardnummer">
                    <p class="error">Dit nummer is niet bij ons bekend</p>
                </div>
            </td>
            <td class="btns"><a class="btn-rectangule btn-rect-stl1">check geldigheid</a>
            </td>
        </tr>
    </table>
    <div class="tip">
        De giftcard is te gebruiken tot en met:
        <span>10 december 2014</span>
    </div>
    <div class="tip-content">
        <div class="lft-block">
            <p class="page-title">Geldigheid controleren</p>
            <p>Vul hierboven het giftcardnummer in en klik op 'check geldigheid’. Het nummer vind je op de achterzijde van de giftcard.</p>
            <p>
                <strong>LET OP:</strong>Geldigheid checken werkt alléén voor door ons uitgegeven giftcards.</p>
        </div>
        <div class="rgt-bolck">
            <img src="../assets/images/imgs/giftcardnummer.png" alt="giftcardnummer">
        </div>
        <div class="button">
            <a class="btn-rectangule btn-rect-stl1 btn-rect-stl1-1">arrangement details</a>
        </div>
    </div>
</div>
