<div class="wgt-faq">
    <ul class="five-box">
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum? </strong>
                <p class="content-five-box">content1</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                <p class="content-five-box">content2</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Curabitur nibh sapien, lacinia nec viverra nec, condimentum ac est. Nulla porttitor justo augue, et auctor libero?</strong>
                <p class="content-five-box">content3</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Deze vraag is aangeklikt en daardoor opgevouwen.</strong>
                <p class="content-five-box">Pellentesque adipiscing felis at interdum mattis. Pellentesque nisl odio, aliquet a leo vel, volutpat volutpat enim. 
Nulla facilisi. Mauris convallis vulputate justo non adipiscing. Nulla eget blandit libero. Donec et pharetra mauris. 
Nam viverra nec metus posuere commodo.</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum? </strong>
                <p class="content-five-box">content5</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                <p class="content-five-box">content6</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>itae lobortis ipsum bibendum at?</strong>
                <p class="content-five-box">content7</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta est in augue placerat fermentum? </strong>
                <p class="content-five-box">content8</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Aliquam id aliquam mauris. Integer laoreet lectus ac quam semper, sed vehicula nisi pharetra?</strong>
                <p class="content-five-box">content9</p>
            </li>
            <li>
                <strong class="title-five-box"><span class="icon-font-awesome icon-plus"></span>Curabitur nibh sapien, lacinia nec viverra nec, condimentum ac est. Nulla porttitor justo augue, et auctor libero?</strong>
                <p class="content-five-box">content10</p>
            </li>
    </ul>
</div>