<div class="wgt-location-detail">
    <section class="r-inner  slider2">
        <div class="flexslider">
            <ul class="slides ">
                <li class="slide-1" data-thumb="../assets/images/slider/slide-product-detail.jpg">
                   <div class="images">
                        <img src="../assets/images/slider/slide-product-detail.jpg" />
                    </div>
                    <div class="content">
                        <h3>Akkermans Leisure &amp; Golf 1</h3>
                        <p>Heense Molenweg 23 • 4655 TB  De Heen • Noord Brabant</p>

                        <blockquote>In de Heense polder, vlakbij Steenbergen, ligt het golfcentrum van Akkermans Leisure &amp; Golf. In de sfeervolle Grand Café kunt u genieten van een gezellig etentje. Lorem ipsum dolor sit, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</blockquote>
                        <dl>
                            <dt>Graag reserveren bij deze locatie?</dt>
                            <dd>Neem contact op via: +31 (0)167 50 26 21</dd>
                            <dt>Arrangement</dt>
                            <dd>
                                <p>Een hoofdgerecht voor twee personen. </p>
                                <p>U heeft de keuze uit drie verschillende hoofdgerechten. </p>
                            </dd>
                            <dt>Meer informatie</dt>
                            <dd>Soort keuken: Hollands</dd>
                        </dl>
                        <div class="button">
                            <a class="btn-rectangule btn-rect-stl2">naar overzicht</a>
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">VORIGE locatie</a>
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">volgende LOCATIE</a>
                        </div>
                    </div>
                </li>
                <li class="slide-2" data-thumb="../assets/images/slider/slide-product-detail.jpg">
                   <div class="images">
                        <img src="../assets/images/slider/slide-product-detail.jpg" />
                    </div>
                    <div class="content">
                        <h3>Akkermans Leisure &amp; Golf 2</h3>
                        <p>Heense Molenweg 23 • 4655 TB  De Heen • Noord Brabant</p>

                        <blockquote>In de Heense polder, vlakbij Steenbergen, ligt het golfcentrum van Akkermans Leisure &amp; Golf. In de sfeervolle Grand Café kunt u genieten van een gezellig etentje. Lorem ipsum dolor sit, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</blockquote>
                        <dl>
                            <dt>Graag reserveren bij deze locatie?</dt>
                            <dd>Neem contact op via: +31 (0)167 50 26 21</dd>
                            <dt>Arrangement</dt>
                            <dd>
                                <p>Een hoofdgerecht voor twee personen. </p>
                                <p>U heeft de keuze uit drie verschillende hoofdgerechten. </p>
                            </dd>
                            <dt>Meer informatie</dt>
                            <dd>Soort keuken: Hollands</dd>
                        </dl>
                        <div class="button">
                            <a class="btn-rectangule btn-rect-stl2">naar overzicht</a>
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">VORIGE locatie</a>
                            <a class="btn-rectangule btn-rect-stl2 btn-rect-stl2-1">volgende LOCATIE</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>