<div class="wgt-product-list">
    <ul>
        <li class="product-list-2">
            <p class="images">
                <a href="#">
                    <img src="../assets/images/product/product1.jpg" alt="product" />
                </a>
            </p>
            <div class="list-cont">
                <div class="name">
                    <h2><a href="#">Overnachting</a>
                    </h2>
                    <p>voor 2</p>
                    <span class="btn-round">€79,-</span>
                </div>
                <p class="product-descript">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
                <div class="">
                    <a class="btn-rectangule btn1">toon locaties</a>
                    <a class="btn-rectangule btn2">in winkelwagen</a>
                </div>
            </div>
        </li>
    </ul>
</div>
