<div class="wgt-website-note">
    <div class="r-inner">
        <div class="note-1">
            <h6><a href="#">KIES JOUW MOMENT</a>
            </h6>
            <div class="con">
                <p>
                    Genieten van een culinaire ervaring, fijne overnachting of een ontspannen dag in de sauna? Beleef de mooiste momenten voor twee personen met de Momento giftbox.
                </p>
                <p>
                    Bekijk het aanbod van uw Momento giftbox door hier uw kaartnummer in te voeren. Maak een keuze uit het ruime assortiment van aangesloten locaties, reserveer bij de locatie en reken af met uw Momento giftbox.
                </p>
            </div>            
        </div>

        <div class="note-2">
            <a href="#" class="a-link"></a>
            <div class="note-txt">
                <p class="txt-1">
                    Exclusief online aanbod!
                </p>
                <p class="txt-2">
                    High Tea
                    <span>voor 2</span>
                </p>
                <p class="txt-3">
                    €30,-
                </p>
                <a href="#" class="btn" >BELEEF</a>
                <i class="icon icon-arrow-bottom-ad"></i>
            </div>
            <img src="../upload/imgs/bottom-ad.jpg" alt="">
        </div>
        <div class="info">
                <strong>Exclusief verkrijgbaar bij</strong>
                <img src="../upload/imgs/blokker.png" alt="">
            </div>
    </div>
    <div class="r-inner">
    	<div class="share-this">
    		<strong>VOLG ONS OP:</strong>
    		<a href="#" class="icon icon-facebook" ></a>
    		<a href="#" class="icon icon-google"></a>
    		<a href="#" class="icon icon-twitter"></a>
    	</div>
        <div class="pay-link">
        	<a href="#"><img src="../upload/pay-logo/logo-1.png" alt=""></a>
        	<a href="#"><img src="../upload/pay-logo/logo-2.png" alt=""></a>
        	<a href="#"><img src="../upload/pay-logo/logo-3.png" alt=""></a>        	
        </div>
    </div>
</div>
