<div class="wgt-subscribe">
    <div class="widget-box">
        <h3 class="widget-title">momento Niewsbrief</h3>
        <p class="content">Schrijf je nu in voor de maandelijkse Momento Nieuwsbrief en blijf op de hoogte van de leukste nieuwtjes en aanbiedingen.</p>
        <div class="search-block">
            <input type="text" class="input-validation-error" >
            <span class="field-validation-error" >
            	ERROR
            </span>
            <button  class="search-btn"><span class="icon-font-awesome icon-play"></span></button>           
        </div>
    </div>
</div>
